<div id='page'>
  <main>
    {{!--prettier-ignore--}}
    <style>
      html{ background-color:#ffffd4; }
      main section{
        margin-top:50px;
        margin-bottom:50px;
        position:relative;
      }
      .MakerInfo{
        padding:5px;
        width:auto;
      }
    </style>
    <section data-seq='20230811162949291'>
      <div class='H1'>카카오맵</div>
    </section>
    <section data-seq='20230811170157698'>
      <div class='H2'>API</div>
      <br />
      <article class='CenterCenter' style='gap:10px; margin-bottom:10px;'>
        {{#EACH json}}
          <button class='ButtonUi Style1' data-form-hei='Md' onclick="MoveKakaoMapMarker('{{obj.장소명}}')">{{obj.장소명}}</button>
        {{/EACH}}
      </article>
      <div class='KakaoMapBox'>
        <div id='KakaoMap' class='RR' style='width:100%; aspect-ratio:16/9;'></div>
      </div>
      <script src='/public/js/kakaomap.js'></script>
    </section>
  </main>
</div>