<div id='page'>
  <main>
    <!-- 2. 설치 스크립트 * 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다. -->
    <script charset='UTF-8' class='daum_roughmap_loader_script' src='https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js'></script>

    {{!--prettier-ignore--}}
    <style>
      html{ background-color:#ffffd4; }
      main section{
        margin-top:50px;
        margin-bottom:50px;
        position:relative;
      }
      /**/
      .root_daum_roughmap.Responsive{
        width:100%;
        aspect-ratio:16/9;
        display:flex;
        flex-direction:column;
      }
      .root_daum_roughmap.Responsive .wrap_map{
        flex:1;
      }
    </style>
    <section data-seq='20230811162949291'>
      <div class='H1'>카카오맵</div>
    </section>
    <section data-seq='20230811170157698'>
      <div class='H2'>API</div>
      <div id='map' class='RR' style='width:100%; aspect-ratio:16/9;'></div>
      {{!--prettier-ignore--}}
      <script>
        (() => {
          var ApiKey = 'ddfce4b5a6c589f7cbf109cf57486914';// http://localhost:5500
        const map_script = document.createElement('script');
        map_script.src = `//dapi.kakao.com/v2/maps/sdk.js?appkey=${ApiKey}`;
        document.write(map_script.outerHTML);
        })()
      </script>
      {{!--prettier-ignore--}}
      <script>
        (() => {


          var Lat = 33.450701;
          var Lng = 126.570667;

          var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
          var options = {
            //지도를 생성할 때 필요한 기본 옵션
            center: new kakao.maps.LatLng(Lat, Lng), //지도의 중심좌표.
            level: 3, //지도의 레벨(확대, 축소 정도)
          };

          var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
          console.log(map);

          /* 2023-08-11 :: START :: 마커 */
          // 마커가 표시될 위치입니다
          var markerPosition = new kakao.maps.LatLng(Lat, Lng);
          // 마커를 생성합니다
          var marker = new kakao.maps.Marker({
            position: markerPosition
          });
          // 마커가 지도 위에 표시되도록 설정합니다
          marker.setMap(map);

          // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
          // marker.setMap(null);
          /* // 2023-08-11 :: END :: 마커 */

          /* 2023-08-11 :: START :: 마커에 인포창 달기 */
          // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
          var iwContent = '<div style="padding:5px;">Hello World!</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

          // 인포윈도우를 생성합니다
          var infowindow = new kakao.maps.InfoWindow({
            content: iwContent,
            removable: iwRemoveable
          });

          // 마커에 클릭이벤트를 등록합니다
          kakao.maps.event.addListener(marker, 'click', function () {
            // 마커 위에 인포윈도우를 표시합니다
            infowindow.open(map, marker);
          });
          /* // 2023-08-11 :: END :: 마커에 인포창 달기 */

          /* 2023-08-11 :: START :: 중심이동 */
          window.addEventListener('resize', (evt) => {
            setCenter();
          });

          /**
           * 곧장 이동
           */
          function setCenter() {
            // 이동할 위도 경도 위치를 생성합니다
            var moveLatLon = new kakao.maps.LatLng(Lat, Lng);

            // 지도 중심을 이동 시킵니다
            map.setCenter(moveLatLon);
          }

          /**
           * 부드럽게 이동
           */
          function panTo() {
            // 이동할 위도 경도 위치를 생성합니다
            var moveLatLon = new kakao.maps.LatLng(Lat, Lng);

            // 지도 중심을 부드럽게 이동시킵니다
            // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
            map.panTo(moveLatLon);
          }

          /* // 2023-08-11 :: END :: 중심이동 */

        })()
      </script>
    </section>
    <section data-seq='20230811162949291'>
      <div class='H2'>일반 유저</div>
      <article>
        <!-- * 카카오맵 - 지도퍼가기 -->
        <!-- 1. 지도 노드 -->
        <div id='daumRoughmapContainer1691739430380' class='root_daum_roughmap root_daum_roughmap_landing'></div>

        <!--
          2. 설치 스크립트
          * 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
        -->
        <script charset='UTF-8' class='daum_roughmap_loader_script' src='https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js'></script>

        <!-- 3. 실행 스크립트 -->
        {{!--prettier-ignore--}}
        <script charset='UTF-8'>
          (() => {
            new daum.roughmap.Lander({"timestamp": "1691739430380", "key": "2ftmh", "mapWidth": "640", "mapHeight": "360"}).render();
          })()
        </script>
      </article>
    </section>
    <section data-seq='20230811163730095'>
      <div class='H2'>일반 유저 + 반응형(.Responsive)</div>
      <article>
        <!-- * 카카오맵 - 지도퍼가기 -->
        <!-- 1. 지도 노드 -->
        <div id='daumRoughmapContainer1691739534682' class='RR Responsive root_daum_roughmap root_daum_roughmap_landing'></div>

        <!-- 3. 실행 스크립트 -->
        {{!--prettier-ignore--}}
        <script charset='UTF-8'>
          (() => {
            const map = new daum.roughmap.Lander({
              "timestamp": "1691739534682",
              "key": "2ftmj",
            });
            map.render();
          })()
        </script>
      </article>
    </section>

  </main>
</div>