<div id='page'>
  <main>
    {{!--prettier-ignore--}}
    <style>
      main > section{
        margin-top:50px;
        margin-bottom:50px;
      }
    </style>
    <div class='H1'>particles.js Guide</div>
    <section>
      <div class='HBox'>
        <div class='Inner'>
          hbs/page/_pub_particles.hbs
        </div>
      </div>
    </section>
  </main>
</div>