<div id='page'>
  {{!--prettier-ignore--}}
  <style>
    main{ padding-bottom:0; }
  </style>
  <main>
    <script>Include('/hbs/swiper/FullPageSwiper.hbs');</script>
  </main>
  <footer>
    FOOTER
  </footer>
</div>