<div id='page'>
  <main>
    {{!--prettier-ignore--}}
    <style>
      .Box{ outline:1px dashed red; }
      .Box.On{ background-color:red; }
    </style>
    <div class='Box'>Box</div>
    <div class='Box'>Box</div>
    <div class='Box On'>Box</div>
  </main>
</div>