<div id='page'>
  <main style='outline:1px dashed red;'>
    <section data-seq='20230808122905867' style='margin-top:10px;'>
      <div class='HBox'>
        <div class='Inner'>
          <img src='https://gifpng.com/560x1315/cccccc/ff4444' alt='' />
        </div>
      </div>
    </section>
    <section data-seq='20230808122905867' style='margin-top:10px;'>
      <div class='HBox'>
        <div class='Inner'>
          <img src='https://gifpng.com/560x315/ffd4d4/ff4444' alt='' />
        </div>
      </div>
    </section>
    <section data-seq='20230808122905867' style='margin-top:10px;'>
      <div class='HBox'>
        <div class='Inner'>
          <img src='https://gifpng.com/560x1315/cccccc/ff4444' alt='' />
        </div>
      </div>
    </section>
  </main>
</div>