<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq="20230728102327402">
      <div class="HBox">
        <div class="Inner">
          <article style="text-align:center; margin-top:36px;">
            <div style="color:#303030; font-size:18px; font-weight:600; line-height:24px;">
              생체인증 서비스 <span class="Color1">미사용</span> 안내
            </div>
            <div style="margin-top:25px; border-top:1px solid #ebebeb; border-bottom:1px solid #ebebeb;">
              <article style="display:grid; grid-template-columns:repeat(2, minmax(0, 1fr)); gap:0;">
                <div style="display:flex; align-items:center; justify-content:center; gap:0px; height:62px;">컬쳐랜드 아이디</div>
                <div style="display:flex; align-items:center; justify-content:center; gap:0px; height:62px;">taehyeon</div>
              </article>
              <article style="display:grid; grid-template-columns:repeat(2, minmax(0, 1fr)); gap:0; border-top:1px solid #ebebeb;">
                <div style="display:flex; align-items:center; justify-content:center; gap:0px; height:62px;">생체인증 서비스</div>
                <div style="display:flex; align-items:center; justify-content:center; gap:0px; height:62px;">미사용</div>
              </article>
            </div>
          </article>
          <div style="margin-top:25px;">
            {{> 'module/AlertBox_1-h' }}
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
{{!--{{> 'module/BottomBtnBox_1-b' btn='신청하기' }}--}}