<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq='20230728102327402'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/InfoTable_1-a.hbs');</script>
          <div style='margin-top:25px;'>
            <div class='AlertBox_1'>
              <div class='Txt1 font-medium'>
                <p>5만원 이상 구매는 <strong class='Color1'>생체인증 후 결제</strong>가 가능합니다.</p>
                <p>생체인증 서비스 신청 후 결제를 진행해주세요!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
{{!--prettier-ignore--}}
<script>
  Include('/hbs/component/BottomBtnBox_1-a.hbs', {
    btns: [
      {
        label: '신청하기',
        style: 1,
        disabled:false,
      },
    ],
  });
</script>