<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq="20230728152344652" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
{{!--          {{> 'module/ProfileBox_1-a' }}--}}
          <div style="margin-top:16px;">
{{!--            {{> 'module/InfoBox_1-a' }}--}}
          </div>
        </div>
      </div>
    </section>

    <section data-seq="20230719133422251" style="margin-top: 30px">
      <div class="HBox">
        <div class="Inner">
{{!--          {{> 'module/TitleBox_2-a' txt1='거래중인 상품' txt2='4개' }}--}}

          <div style="margin-top:5px;">
{{!--            {{> 'module/ProductList_1-a' }}--}}
          </div>
        </div>
      </div>

    </section>
  </main>
</div>
