<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq='20230728114030090'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/ProductItem_4-a.hbs');</script>
        </div>
      </div>
    </section>
    <section data-seq='20230728120147336' style='margin-top:16px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TitleBox_3-a.hbs', {txt1:'결제방법'});</script>
          <div style='margin-top:16px;'>
            <script>Include('/hbs/component/PointBox_1-a.hbs');</script>
          </div>
        </div>
      </div>
    </section>
    <div class='Divider_1'></div>
    <section data-seq='20230728131216789' style='margin-top:30px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TitleBox_2-a.hbs',{txt1:'간편 카드 결제'});</script>
        </div>
      </div>
      <div style='margin-top:16px;'>
        <script>Include('/hbs/component/CardList_1-a.hbs');</script>
      </div>
    </section>
    <section data-seq='20230728131216789' style='margin-top:30px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TitleBox_2-a.hbs',{txt1:'기타 결제 수단'});</script>
          <div style='margin-top:16px;'>
            <script>Include('/hbs/component/RadioGroup_1-a.hbs');</script>
          </div>
          <div style='margin-top:16px;'>
            <script>Include('/hbs/component/PointBox_2-a.hbs');</script>
          </div>
        </div>
      </div>
    </section>
    <div class='Divider_1'></div>
    <section data-seq='20230728131216789' style='margin-top:30px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TitleBox_3-a.hbs', {txt1:'결제정보'});</script>
          <div>
            <script>Include('/hbs/component/InfoList_1-c.hbs');</script>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
{{!--prettier-ignore--}}
<script>
  Include('/hbs/component/BottomBtnBox_1-a.hbs', {
    btns: [
      {
        label: '결제하기',
        style: 1,
        disabled:false,
      },
    ],
  });
</script>