<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq='20230726180139001'>
      <div class='HBox'>
        <div class='Inner'>
          <div style='margin-top:16px;'>
            <script>Include('/hbs/component/SearchBox_1-a.hbs');</script>
          </div>
        </div>
      </div>
    </section>
    <section data-seq='20230726180833325' style='margin-top:30px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TitleBox_2-a.hbs', {txt1:'상품', txt2:'3개', btn1:'최근 구매순'});</script>
          <div style='margin-top:16px;'>
            <script>Include('/hbs/component/ProductList_3-a.hbs');</script>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>