{{#> 'Page' }}
  {{> 'layout/Header_2-a' }}
  <main>
    <section data-seq="20230726180139001">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/TabBar_2-a' array='사용가능|사용완료|만료' }}
          <div style="margin-top:20px;">
            {{> 'module/SearchBox_1-a' }}
          </div>
        </div>
      </div>
    </section>
    <section data-seq="20230726180833325" style="margin-top:30px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/TitleBox_2-a' txt1='상품' txt2='3개' btn1='유효기간 짧은 순' }}

          <div style="margin-top:16px;">
            {{> 'module/ProductList_2-a' }}
          </div>

        </div>
      </div>
    </section>
  </main>
{{/ 'Page' }}