<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq='20230727115222119' style='margin-top:20px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/CuponBox_1-b.hbs', {grayscale:true});</script>
        </div>
      </div>
    </section>
    <section data-seq='20230727123020938' style='margin-top:30px;'>
      <div class='Text_2'>
        <div class='Txt1 Montserrat'>CU</div>
        <div class='Txt2'>3천원권</div>
      </div>
    </section>
    <section data-seq='20230727132654573' style='margin-top:16px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TitleBox_3-a.hbs',{txt2:'구매정보',btn1:'구매자에게 환불 요청하기'});</script>
          <script>Include('/hbs/component/InfoList_1-b.hbs');</script>
        </div>
      </div>
    </section>
    <section data-seq='20230727135114299' style='margin-top:30px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TitleBox_3-a.hbs', {txt4:'상품안내' });</script>
          <script>Include('/hbs/component/Collapse_1-a.hbs');</script>
        </div>
      </div>
    </section>
  </main>
</div>