{{#> 'Page' }}
  {{> 'layout/Header_2-a' }}
  <main>
    <section data-seq="20230727115222119" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/CuponBox_1-b' }}
        </div>
      </div>
    </section>
    <section data-seq="20230727123020938" style="margin-top:30px;">
      {{> 'module/Text_2-a' }}
    </section>
    <section data-seq="20230727132654573" style="margin-top:16px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/TitleBox_3-a' txt2='구매정보' btn1='구매자에게 환불 요청하기' }}
          {{> 'module/InfoList_1-b' }}
        </div>
      </div>
    </section>
    <section data-seq="20230727135114299" style="margin-top:30px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/TitleBox_3-a' txt2='상품안내' }}
          {{> 'module/Collase_1-a' }}
        </div>
      </div>
    </section>
  </main>
{{/ 'Page' }}
{{> 'module/BottomBtnBox_1-b' btn='사용완료' }}