<div class="Modal"></div>
<div id='page'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <main>
    {{!--CONTENTS--}}
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>
<div class='LayerPopup Bottom On'>
  <script>Include('/hbs/layer/BottomSheet_1-a.hbs');</script>
  <div class="SafeArea" style="background-color:white;"></div>
</div>