<div id='page'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <main>
    <section data-seq='20230718134500033' style='margin-top: 24px'>
      <div class='HBox'>
        <div class='Inner'>
          <div class='Text_1'>
            컬쳐랜드
            <span class='Color1'>PICK</span>
            추천 브랜드
          </div>
        </div>
      </div>
      <div style='margin-top:20px;'>
        <script>Include('/hbs/component/ButtonList_3-a.hbs',{len:6});</script>
      </div>
    </section>
    <div class='Divider_1'></div>
    <section data-seq='20230718095250332'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs', {txt1:'추천상품', btn1:'더보기'});</script>
        </div>
      </div>
      <div style='margin-top: 20px'>
        <script>Include('/hbs/swiper/ProductSwiper_1-a.hbs');</script>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>