<div id='page'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <main>
    <div class='HBox'>
      <div class='Inner'>
        <section data-seq='20230719172804783' style='margin-top:20px;'>
          <div class='AlertBox_1 Style1'>
            <div class='CenterCenter'>
              <div class='Badge_1 Style1'>
                특가상품
              </div>
              <div class='Txt1' style='margin-left: 6px;'>
                한정수량 특가 상품 놓치지마세요.
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <section data-seq='20230719153157277' style='margin-top: 16px'>
      <script>Include('/hbs/component/ChipsList_1-a.hbs');</script>
    </section>
    <section data-seq='20230723121707168' style='margin-top:68px;'>
      <div class='EmptyList_1'>
        <article class='CenterCenter' style='flex-direction:column'>
          <div>
            <img src='/public/icon/2307231218.svg' alt='' />
          </div>
          <div class='Txt1' style='margin-top:17px;'>
            준비한 상품이 모두 판매되었습니다.
          </div>
        </article>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>