<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <div class='HBox'>
      <div class='Inner'>
        <section data-seq='20230719122337274' style='margin-top: 18px'>
          <script>Include('/hbs/component/SearchBox_1-a.hbs');</script>
        </section>
        <section data-seq='20230719133422251' style='margin-top: 30px'>
          <script>Include('/hbs/component/TitleBox_2-a.hbs', {txt1:'상품', txt2:'10개', btn1:'신규 등록순'});</script>

          <div style='margin-top:5px;'>
            <script>Include('/hbs/component/ProductList_1-a.hbs');</script>
          </div>
        </section>
      </div>
    </div>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>