<div id='page'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <main>
    <section data-seq='20230718134500033' style='margin-top: 24px'>
      <div class='HBox'>
        <div class='Inner'>
          <div style='position:relative;'>
            <script>Include('/hbs/component/TitleBox_1-a.hbs', {txt1:'인기 브랜드', btn2:'랭킹기준'});</script>
            <div class='[.On>&]:block' style='z-index: 10; position: absolute; top: 25px; right: 0px'>
              <script>Include('/hbs/layer/ToolTip_1-a.hbs');</script>
            </div>
          </div>
        </div>
      </div>
      <div style='margin-top: 22px'>
        <script>Include('/hbs/swiper/BrandSwiper_1-a.hbs');</script>
      </div>
    </section>
    <section data-seq='20230719153157277' style='margin-top: 50px'>
      <script>Include('/hbs/component/ChipsList_1-a.hbs');</script>
    </section>
    <section data-seq='20230718095250332' style='margin-top: 30px'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs', {txt1:'인기상품', btn1:'더보기'});</script>
        </div>
      </div>
      <div style='margin-top: 20px'>
        <script>Include('/hbs/swiper/ProductSwiper_1-a.hbs');</script>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>