<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq="20230804143418025" style="margin-top:10px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/TabBar_2-a' array='판매전|판매중|정상대기|정산완료' }}
        </div>
      </div>
    </section>
    <section data-seq="20230804143633859" style="margin-top:24px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/AlertBox_1-m' }}
        </div>
      </div>
    </section>
    <section data-seq="20230804143735488" style="margin-top:30px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/TitleBox_2-a' txt1='총' txt2='3건' btn1='최신순' }}
          <div style="margin-top:25px;">
            {{> 'module/ProductList_3-d' }}
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>