<div class="Modal"></div>
<script>Include('/hbs/component/NowWatchChk_1-a.hbs');</script>
<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq="20230727115222119" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
          <script>Include('/hbs/component/CuponBox_1-a.hbs');</script>
        </div>
      </div>
    </section>
    <section data-seq="20230727123020938" style="margin-top:30px;">
      <script>Include('/hbs/component/Text_2-a.hbs');</script>
    </section>
    <section data-seq="20230727132654573" style="margin-top:16px;">
      <div class="HBox">
        <div class="Inner">
          <div class="TitleBox_3" style="position:relative;">
            <div style="z-index:9999; position:absolute; bottom:50px; right:0px;">
              <img src="/public/icon/2308041101.svg" alt=""/>
            </div>
            <article class="CenterBetween">
              <div>
                <div class="Title_2" style="padding-left:14px;">
                  구매정보
                  <img src="/public/icon/2307291136_on.svg" alt="">
                </div>
              </div>
              <div>
                <button class="ButtonUi Style2" data-form-hei="Xs" style="position:relative; z-index:9999;">
                  신고하기
                  <img style="margin-left:4px;" src="/public/icon/2307271325.svg" alt="">
                </button>
              </div>
            </article>
          </div>
          <script>Include('/hbs/component/InfoList_1-b.hbs');</script>
        </div>
      </div>
    </section>
    <section data-seq="20230727135114299" style="margin-top:30px;">
      <div class="HBox">
        <div class="Inner">
          <script>Include('/hbs/component/TitleBox_3-a.hbs', {txt2:'상품안내'});</script>
          <script>Include('/hbs/component/Collapse_1-a.hbs');</script>
        </div>
      </div>
    </section>
  </main>
</div>
<div class="FixedBox">
  <div class="FixedShell" style="bottom:0; z-index:9999;">
    <img style="z-index:9999; position:absolute; bottom:120px; left:50%; transform:translateX(-50%);" src="/public/icon/2308041106.svg" alt=""/>
    <div class="BottomBtnBox_1">
      <button class="ButtonUi Style1" data-form-hei="Lg">사용완료</button>
    </div>
  </div>
</div>