<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq="20230804122148031">
      {{> 'module/Diagram_1-a' }}
    </section>
    <section data-seq="20230804140449121" style="margin-top:30px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/Table_3-b' }}
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>