<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq="20230804185107259" style="margin-top:16px;">
      <div class="HBox">
        <div class="Inner">
          <script>Include('/hbs/component/SearchBox_1-a.hbs');</script>
        </div>
      </div>
    </section>
    <section data-seq="20230804185152515" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
          <script>Include('/hbs/component/TabBar_2-a.hbs', {len:3});</script>
          <div>
            <script>Include('/hbs/component/Collapse_2-a.hbs');</script>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>