{{#> 'Page' }}
  {{> 'layout/Header_2-a' }}
  <main>
    <section data-seq="20230803133831368" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/TitleBox_2-a' txt1='총' txt2='3건' }}
        </div>
      </div>
    </section>
    <section data-seq="20230803134131432" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/ProductList_1-d' }}
        </div>
      </div>
    </section>
  </main>
{{/ 'Page' }}
{{> 'module/BottomBtnBox_1-b' btn='다음' }}