<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq='20230804191203539' style='margin-top:20px;'>
      <div class='HBox'>
        <div class='Inner'>
          <div>
            <div class='AlertBox_1 Style1'>
              <div class='Txt1'>
                <button class='Btn_1'>
                  장바구니 이용 안내
                  <img src='/public/icon/2307171341.svg' alt='' />
                </button>
              </div>
            </div>
            <div style='z-index:10; position:absolute; top:40px; left:50%; transform:translateX(-50%);'>
              <script>Include('/hbs/layer/ToolTip_1-h.hbs');</script>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section data-seq='20230804191848493'>
      <div class='EmptyList_1'>
        <article class='CenterCenter' style='flex-direction:column'>
          <div>
            <img src='/public/icon/2307231218.svg' alt='' />
          </div>
          <div class='Txt1' style='margin-top:17px;'>
            <p>장바구니에 상품이 없습니다.</p>
            <p>상품을 추가해주세요.</p>
          </div>
        </article>
      </div>
    </section>
  </main>
</div>
{{!--prettier-ignore--}}
<script>
  Include('/hbs/component/BottomBtnBox_1-a.hbs', {
    btns: [
      {
        label: '상품추가',
        style: 4,
        disabled:false,
      },
    ],
  });
</script>