<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq='20230807100014440' style='margin-top:20px;'>
      <div class='HBox'>
        <div class='Inner'>
          <div class='AlertBox_1'>
            <article class='CenterCenter'>
              <img src='/public/icon/2308070959.svg' alt='' />
              <div class='Txt1' style='margin-left:10px;'>
                <div>구매 혹은 판매하신 상품의 환불 관련한</div>
                <div>채팅 내역을 확인하실 수 있습니다.</div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    <section data-seq="20230807100028362" style="margin-top:17px;">
      <script>Include('/hbs/component/ChatRoomList_1-a.hbs');</script>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>