<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-d.hbs');
  </script>
  <main>
    <section data-seq="20230806225351229">
      <script>Include('/hbs/component/ProductLink_1-a.hbs');</script>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>