<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq='20230804143418025' style='margin-top:10px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TabBar_2-a.hbs', {len:4});</script>
        </div>
      </div>
    </section>
    <section data-seq='20230804143633859' style='margin-top:24px;'>
      <div class='HBox'>
        <div class='Inner'>
          <div class='AlertBox_1'>
            <div class='Txt1'>
              <p>현재 상품 등록 후, <strong>판매 중</strong>인 상품과</p>
              <p><strong>판매취소</strong> 하신 상품들을 확인하실 수 있습니다.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section data-seq='20230804143735488' style='margin-top:30px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TitleBox_2-a.hbs', {txt1:'총', txt2:'3건', btn1:'최신순'});</script>
          <div style='margin-top:25px;'>
            <script>Include('/hbs/component/ProductList_3-e.hbs');</script>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>