{{#> 'Page' }}
  {{> 'layout/Header_2-a' }}
  <main>
    <section data-seq="20230804191203539" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
          <div>
            <div class='AlertBox_1 Style1'>
              <div class="Txt1">
                <button class='Btn_1'>
                  장바구니 이용 안내
                  <img src='/public/icon/2307171341.svg' alt=''/>
                </button>
              </div>
            </div>
            <div style="z-index:10; position:absolute; top:40px; left:50%; transform:translateX(-50%);">
              {{> 'layer/ToolTip_1-h' }}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section data-seq="20230804191848493">
      {{> 'module/EmptyList_1-e' }}
    </section>
  </main>
  {{> 'layout/Footer_1-a' }}
{{/ 'Page' }}