<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq='20230806212538683' style='margin-top:20px;'>
      <div class='HBox'>
        <div class='Inner'>
          <div class='AlertBox_1'>
            <div class='Txt1'>
              <button class='Btn_1'>
                장바구니 이용 안내
                <img src='/public/icon/2307171341.svg' alt='' />
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section data-seq='20230806212811350' style='margin-top:30px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/ListControlBox_1-b.hbs');</script>
          <script>Include('/hbs/component/ProductBorderList_1-f.hbs');</script>
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>
{{!--prettier-ignore--}}
<script>
  Include('/hbs/component/BottomBtnBox_2-a.hbs', {
    txt1:'결제할 상품 <span class="Color1">총 1개</span>',
    txt2:'<span class="Color1">4,450원</span>',
    btns: [
      {
        label: '결제하기',
        style: 1,
        disabled:false,
      },
    ],
  });
</script>