<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-d.hbs');
  </script>
  <main>
    <section data-seq='20230807084634039'>
      <script>Include('/hbs/component/ChantBoxWrap_1-a.hbs');</script>
    </section>
  </main>
</div>
<script>Include('/hbs/component/ChatInputWrap.hbs');</script>