<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq='20230804183315754' style='margin-top:10px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TabBar_2-a.hbs', {len:2});</script>
          <div class='AlertBox_1' style='margin-top:24px;'>
            <div class='CenterCenter'>
              <div class='Txt1 font-medium'>
                판매하신 상품 관련 환불 요청 내역을 보여드립니다.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section data-seq='20230804183434563' style='margin-top:30px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TitleBox_2-a.hbs', {txt1:'총', txt2:'3건', btn1:'최신순'});</script>
          <div>
            <script>Include('/hbs/component/ProductBorderList_1-e.hbs');</script>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>