<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq="20230807145932079" style="margin-top:30px;">
      <div class="HBox">
        <div class="Inner">
          <div class="C-48a464fa">
            2023-07-11 09:08:45
          </div>
          <div style="margin-top:12px;">
            <script>Include('/hbs/layer/NotifyViewBox_1-a.hbs');</script>
          </div>
          <div style="margin-top:20px;">
            <script>Include('/hbs/component/TosBox_1-a.hbs');</script>
          </div>
          <article class="CenterCenter" style="margin-top:20px;">
            <button class="ButtonUi Style1 w-full" data-form-hei="Md">환불 재요청</button>
          </article>
        </div>
      </div>
    </section>
  </main>
</div>