<div id='page'>
  <script>
    Include('/hbs/layout/Header_3-a.hbs');
  </script>
  <main>
    <style>
      html{ background-color:#f4f4f4; }
    </style>
    <div class='HBox'>
      <div class='Inner'>
        <section data-seq='20230725135923639' style='margin-top:36px;'>
          <ul class='space-y-[10px]'>
            {{#LOOP 10}}
              <li>
                <script>Include('/hbs/component/OptionBox_1-a.hbs', {index: {{index}} });</script>
              </li>
            {{/LOOP}}
          </ul>
        </section>
      </div>
    </div>
  </main>
</div>