<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq='20230807113249320' style='margin-top:20px;'>
      <div class='HBox'>
        <div class='Inner'>
          <div class='AlertBox_1'>
            <article class='CenterCenter'>
              <div class='Txt1'>
                <div>구매하신 상품에 문제가 있으시면 신고해주세요.</div>
                <div>확인 후, 빠르게 처리 도와드리겠습니다.</div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    <section data-seq='20230807113803142' style='margin-top:24px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/LinkList_1-a.hbs');</script>
        </div>
      </div>
    </section>
  </main>
</div>