<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-b.hbs');
  </script>
  <main>
    <div class='NotiTopBar_1'>
      <div class='HBox'>
        <div class='Inner'>
          <section data-seq='20230725131510141' style='margin-top:20px;'>
            <script>Include('/hbs/component/ListControlBox_1-a.hbs');</script>
          </section>
          <section data-seq='20230725131902926' style='margin-top:20px;'>
            <script>Include('/hbs/component/FilterBtnBox_1-a.hbs');</script>
          </section>
          <section data-seq='20230725132717311' style='margin-top:16px;'>
            <div class='EmptyList_1'>
              <article class='CenterCenter' style='flex-direction:column'>
                <div class='Txt2' style='text-align:center;'>
                  알림이 없습니다.
                </div>
              </article>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
</div>