<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq='20230807151635476' style='margin-top:20px;'>
      <div class='HBox'>
        <div class='Inner'>
          <div class='AlertBox_1 Style1'>
            <div class='CenterCenter'>
              <div class='Txt1'>
                <p>
                  구매한 상품이 잘못 된 경우
                  <br />
                  판매자를 신고하실 수 있습니다.
                  <br />
                  신고내역 조회 후, 불량거래가 확인되면
                  <br />
                  판매자의 불량거래 내역에 등록이 됩니다.
                </p>
                <br />
                <p>
                  <strong>
                    (단, 서비스 정책상 단순환불로
                    <br />
                    신고 요청을 하신 경우 불량거래 등록 처리가
                    <br />
                    안될 수 있는 점 참고 부탁드립니다.)
                  </strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section data-seq='20230807151709053' style='margin-top:30px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TitleBox_5-a.hbs', {txt1:'신고사유'});</script>
          <textarea class='TextAreaUi Error' placeholder='내용을 기재해 주세요. (최대 100자)' style='margin-top:8px; height:150px;'></textarea>
          <div class="ErrorTxt_1" style="margin-top:7px;">
            최소 10자 이상 기재해 주세요.
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>
{{!--prettier-ignore--}}
<script>
  Include('/hbs/component/BottomBtnBox_1-a.hbs', {
    btns: [
      {
        label: '신고 요청 하기',
        style: 1,
        disabled:false,
      },
    ],
  });
</script>