<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq='20230725101942388'>
      <script>Include('/hbs/component/ItemImgBox_1-a.hbs');</script>
    </section>
    <section data-seq='20230725102347733'>
      <script>Include('/hbs/component/ProductInfoBox_1-a.hbs');</script>
    </section>
    <div class='Divider_1'></div>
    <section data-seq='20230725104607275'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TabBar_2-a.hbs', {len:2});</script>
          <div style='margin-top:30px;'>
            <script>Include('/hbs/component/TitleBox_2-a.hbs', {btn1:'최저가순'});</script>
          </div>
          <div style='margin-top:19px;'>
            <script>Include('/hbs/component/Table_1-a.hbs');</script>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
{{!--prettier-ignore--}}
<script>
  Include('/hbs/component/BottomBtnBox_1-a.hbs', {
    btns: [
      {
        label: '장바구니 담기',
        style: 2,
        disabled:true,
      },
      {
        label: '구매하기',
        style: 1,
        disabled:false,
      },
    ],
  });
</script>