<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq="20230725121139093">
      <style>
        html{ background-color:#f4f4f4; }
      </style>
      {{> 'module/ButtonList_2-a' }}
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>
