<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq="20230724143457355" style="margin-top:17px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/SearchBox_1-a' value='편의점' }}
        </div>
      </div>
    </section>
    <section data-seq="20230724143709966" style="margin-top:31px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/TitleBox_2-a' txt1='브랜드 검색결과' txt2='20건' }}
        </div>
      </div>
      <div style="margin-top:20px;">
        {{> 'swiper/BrandSwiper_1-a' id='526e21e1' }}
      </div>
    </section>
    <section data-seq="20230724150222259" style="margin-top:45px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/TitleBox_2-a' txt1='상품 검색결과' txt2='10건' btn1='인기순' }}
          <div style="margin-top:5px;">
            {{> 'module/ProductList_1-a' }}
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>