{{#> 'Page' }}
  {{> 'layout/Header_2-c' }}
  <main>
    <section data-seq="20230802224530634" style="margin-top:40px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/PictureList_1-a' }}
        </div>
      </div>
    </section>
  </main>
  {{> 'layout/Footer_1-a' }}
{{/ 'Page' }}