<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq="20230801112836728" style="margin-top:24px;">
      <div class="HBox">
        <div class="Inner">
          <div style="text-align:center;">
            {{> 'module/Text_1-d' }}
          </div>
          <div style="margin-top:30px;">
            <img style="width:100%; border-radius:10px;" src="https://gifpng.com/320x98/ffd4d4/ff4444" alt=""/>
          </div>
        </div>
      </div>
    </section>
    <div class="Divider_1"></div>
    <section data-seq="20230801113008925">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/TitleBox_6-a' txt1='상품등록부터 판매까지 쉽고 빠르게!' }}
          <ul class="space-y-[20px] [&>li]:relative [&>li]:z-10" style="margin-top:30px; position:relative;">
            <div style="z-index:0; position:absolute; top:50%; transform:translateY(-50%); left:26px; width:1px; height:90%; background-color:#ebebeb;"></div>
            <li>
              <article class="CenterLeft">
                <div>
                  <div style="width:52px; aspect-ratio:1; border-radius:100%; background-color:#f4f4f4; display:flex; align-items:center; justify-content:center; gap:0px;">
                    <div style="color:#303030; font-size:12px; font-weight:600;">
                      등록
                    </div>
                  </div>
                </div>
                <div style="margin-left:15px;">
                  <div style="color:#303030; font-size:14px; font-weight:500;">
                    이미지로 상품 등록
                  </div>
                </div>
              </article>
            </li>
            <li>
              <article class="CenterLeft">
                <div>
                  <div style="width:52px; aspect-ratio:1; border-radius:100%; background-color:#F2F5FF; display:flex; align-items:center; justify-content:center; gap:0px;">
                    <div style="color:#303030; font-size:12px; font-weight:600;">
                      확인
                    </div>
                  </div>
                </div>
                <div style="margin-left:15px;">
                  <div style="color:#303030; font-size:14px; font-weight:500;">
                    등록 된 상품 정보 확인
                  </div>
                </div>
              </article>
            </li>
            <li>
              <article class="CenterLeft">
                <div>
                  <div style="width:52px; aspect-ratio:1; border-radius:100%; background-color:#4168F6; display:flex; align-items:center; justify-content:center; gap:0px;">
                    <div style="color:#ffffff; font-size:12px; font-weight:600;">
                      판매
                    </div>
                  </div>
                </div>
                <div style="margin-left:15px;">
                  <div style="color:#303030; font-size:14px; font-weight:500;">
                    원하는 방법으로 판매하세요!
                  </div>
                  <div style="margin-top:5px; color:#303030; font-size:12px; font-weight:500;">
                    컬쳐랜드에 판매 or 개인판매
                  </div>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <div class="Divider_1"></div>
    <section data-seq="20230801113008925">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/TitleBox_6-a' txt1='쿠폰판매 방법은 아래와 같습니다' }}
          <div style="margin-top:40px;">
            {{> 'module/Table_3-a' }}
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
{{> 'module/BottomBtnBox_1-b' btn='상품 등록하기' }}