<div class='Modal'></div>
<article class='RR' style='z-index:1000; position:absolute; top:0; left:0; text-align:center; width:100vw; height:100vh; display:flex; align-items:center; justify-content:center; gap:0px;'>
  <div>
    <div>
      <img style='margin-left:auto; margin-right:auto;' src='/public/icon/2308010136.svg' alt='' />
    </div>
    <div style='margin-top:40px; color:#FFFFFF; font-size:16px; font-weight:600; line-height:24px;'>
      안전 거래 회원 조회 중입니다.
      <br />
      잠시만 기다려 주세요.
    </div>
  </div>
</article>