{{#> 'Page' }}
  {{> 'layout/Header_2-a' }}
  <main>
    <section data-seq="20230802225523385" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/AlertBox_1-c' }}
        </div>
      </div>
    </section>
    <section data-seq="20230802230119762" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/ProductList_3-b' }}
          <article class="CenterBetween" style="padding-top:17px; padding-bottom:18px; border-top: 1px solid var(--sub-border-1, #EBEBEB); border-bottom: 1px solid var(--sub-border-1, #EBEBEB); background: var(--sub-white, #FFF);">
            <div style="color:#303030; font-size:14px; font-weight:600;">
              총 판매금액
            </div>
            <div class="Montserrat" style="color:#FF3838; font-size:14px; font-weight:600;">
              7,180원
            </div>
          </article>
        </div>
      </div>
    </section>
  </main>
  {{> 'layout/Footer_1-a' }}
{{/ 'Page' }}
{{> 'module/BottomBtnBox_1-a' btn1='내역조회' btn2='확인' }}
{{> 'module/ToastMsg_1-a' }}