<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq='20230801112836728' style='margin-top:24px;'>
      <div class='HBox'>
        <div class='Inner'>
          <div style='text-align:center;'>
            <div class='Text_1'>
              휴대폰 속 보관중인 미사용 쿠폰
              <br />
              이제
              <span class='Color1'>컬쳐랜드</span>에 판매하세요!
            </div>
          </div>
          <div style='margin-top:30px;'>
            <img style='width:100%; border-radius:10px;' src='https://gifpng.com/320x98/ffd4d4/ff4444' alt='' />
          </div>
        </div>
      </div>
    </section>
    <div class='Divider_1'></div>
    <section data-seq='20230801113008925'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs', {txt1:'상품등록부터 판매까지 쉽고 빠르게!'});</script>
          <div style="margin-top:30px;">
            <script>Include('/hbs/component/Diagram_2-a.hbs');</script>
          </div>
        </div>
      </div>
    </section>
    <div class='Divider_1'></div>
    <section data-seq='20230801113008925'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs', {txt1:'쿠폰판매 방법은 아래와 같습니다'});</script>
          <div style='margin-top:40px;'>
            <script>Include('/hbs/component/Table_3-a.hbs');</script>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
{{!--prettier-ignore--}}
<script>
  Include('/hbs/component/BottomBtnBox_1-a.hbs', {
    btns: [
      {
        label: '상품 등록하기',
        style: 1,
        disabled:false,
      },
    ],
  });
</script>