{{#> 'Page' }}
  {{> 'layout/Header_2-a' }}
  <main>
    <section data-seq="20230803133831368" style="margin-top:16px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/SearchBox_1-a' value='팥빙수' }}
        </div>
      </div>
    </section>
    <section data-seq="20230803134131432" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/EmptyList_1-d' }}
        </div>
      </div>
    </section>
  </main>
{{/ 'Page' }}