<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq='20230802225523385' style='margin-top:20px;'>
      <div class='HBox'>
        <div class='Inner'>
          <div class='AlertBox_1'>
            <div class='Txt1'>
              판매등록이 완료되었습니다!
              <br />
              판매내역을 확인 하시려면
              <br />
              <strong>"내역조회"</strong>
              버튼을 클릭해주세요.
            </div>
          </div>
        </div>
      </div>
    </section>
    <section data-seq='20230802230119762' style='margin-top:20px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/ProductList_3-b.hbs');</script>
          <script>Include('/hbs/component/InfoTable_2-a.hbs');</script>
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>
<script>Include('/hbs/component/ToastMsg_1-a.hbs');</script>