<div class='Modal'></div>
<article class='c-ce000e7d'>
  <div>
    <div>
      <img style='margin-left:auto; margin-right:auto;' src='/public/icon/2308010136.svg' alt='' />
    </div>
    <div class="t-37f276e9" style='margin-top:40px;'>
      안전 거래 회원 조회 중입니다.
      <br />
      잠시만 기다려 주세요.
    </div>
  </div>
</article>