<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq="20230803133831368" style="margin-top:16px;">
      <div class="HBox">
        <div class="Inner">
          <script>Include('/hbs/component/SearchBox_1-a.hbs');</script>
        </div>
      </div>
    </section>
    <section data-seq="20230725121809499" style="margin-top:20px;">
      <script>Include('/hbs/component/ScrollTabBar_1-a.hbs');</script>
    </section>
    <section data-seq="20230725122652465" style="margin-top:30px;">
      <script>Include('/hbs/component/ButtonList_3-a.hbs');</script>
    </section>
  </main>
</div>
{{!--prettier-ignore--}}
<script>
  Include('/hbs/component/BottomBtnBox_1-a.hbs', {
    btns: [
      {
        label: '다음',
        style: 1,
        disabled:false,
      },
    ],
  });
</script>