<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq="20230803133831368" style="margin-top:16px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/SearchBox_1-a' placeholder='해당 브랜드의 상품을 검색해주세요.' }}
        </div>
      </div>
    </section>
    <section data-seq="20230803134131432" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/ProductList_1-c' }}
        </div>
      </div>
    </section>
  </main>
</div>
{{> 'module/BottomBtnBox_1-b' btn='다음' }}