<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq="20230803123126501" style="margin-top:30px;">
      <div class="HBox">
        <div class="Inner">
          <div>
            <script>Include('/hbs/component/TitleBox_5-a.hbs', {txt1:'판매유형'});</script>
            <div style="margin-top:8px;">
              <script>Include('/hbs/component/RadioGroup_3-a.hbs', {len:2});</script>
            </div>
          </div>
          <div style="margin-top:20px;">
            <script>Include('/hbs/component/TitleBox_5-a.hbs', {txt1:'브랜드'});</script>
            <div style="margin-top:8px;" class="InputUi Style1 w-full ReadOnly" data-form-hei="Sm">
              <input type="text" value="스타벅스" placeholder="placeholder" readonly>
            </div>
          </div>
          <div style="margin-top:20px;">
            <script>Include('/hbs/component/TitleBox_5-a.hbs', {txt1:'상품명'});</script>
            <div style="margin-top:8px;" class="InputUi Style1 w-full ReadOnly" data-form-hei="Sm">
              <input type="text" value="카페아메리카노T" placeholder="placeholder" readonly>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="Divider_1"></div>
    <section data-seq="20230803123513306">
      <div class="HBox">
        <div class="Inner">
          <div>
            <script>Include('/hbs/component/TitleBox_5-a.hbs', {txt1:'쿠폰정가'});</script>
            <div style="margin-top:8px;" class="InputUi Style1 w-full ReadOnly" data-form-hei="Sm">
              <input type="text" value="4,500" placeholder="placeholder" readonly>
            </div>
          </div>
          <div style="margin-top:20px;">
            <script>Include('/hbs/component/TitleBox_5-a.hbs', {txt1:'매입금액'});</script>
            <div style="margin-top:8px;" class="InputUi Style1 w-full ReadOnly" data-form-hei="Sm">
              <input type="text" value="3,590" placeholder="placeholder" readonly>
            </div>
          </div>
          <div style="margin-top:20px;">
            <script>Include('/hbs/component/TitleBox_5-a.hbs', {txt1:'유효기간'});</script>
            <div style="margin-top:8px;" class="InputUi Style1 w-full ReadOnly" data-form-hei="Sm">
              <input type="text" value="2024-05-01" placeholder="placeholder" readonly>
            </div>
          </div>
          <div style="margin-top:20px;">
            <script>Include('/hbs/component/TitleBox_5-a.hbs', {txt1:'바코드 번호'});</script>
            <div style="margin-top:8px;" class="InputUi Style1 w-full ReadOnly" data-form-hei="Sm">
              <input type="text" value="8128838482" placeholder="placeholder" readonly>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="Divider_1"></div>
    <section data-seq="20230803123617918">
      <div class="HBox">
        <div class="Inner">
          <script>Include('/hbs/component/TitleBox_5-a.hbs', {txt1:'상품정보'});</script>
          <div style="margin-top:8px;">
            <script>Include('/hbs/component/AlertBox_2-a.hbs');</script>
          </div>
        </div>
      </div>
    </section>
    <section data-seq="20230803124109898" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
          <script>Include('/hbs/component/TitleBox_5-a.hbs', {txt1:'쿠폰이미지'});</script>
          <div style="margin-top:10px;">
            <script>Include('/hbs/component/CuponBox_1-a.hbs');</script>
          </div>
        </div>
      </div>
    </section>

  </main>
</div>
{{!--prettier-ignore--}}
<script>
  Include('/hbs/component/BottomBtnBox_1-a.hbs', {
    btns: [
      {
        label: '확인',
        style: 1,
        disabled:false,
      },
    ],
  });
</script>