<div class="Modal"></div>
{{#> 'Page' }}
  {{> 'layout/Header_2-a' }}
  <main>
    <img style="margin-left:auto; margin-right:auto;" src="https://gifpng.com/320x1000/ffd4d4/ff4444" alt=""/>
  </main>
{{/ 'Page' }}
{{> 'layer/BottomSheet_1-c' }}