<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-c.hbs');
  </script>
  <main>
    <section data-seq="20230802224530634" style="margin-top:40px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/PictureList_1-a' }}
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>