{{#> 'Page' }}
  {{> 'layout/Header_2-a' }}
  <main>
    <section data-seq="20230802225523385" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/AlertBox_1-b' }}
        </div>
      </div>
    </section>
    <section data-seq="20230802230119762" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/Legend_1-a' }}

          <div style="margin-top:15px;">
            {{> 'module/ProductList_4-a' }}
          </div>

        </div>
      </div>
    </section>
  </main>
  {{> 'layout/Footer_1-a' }}
{{/ 'Page' }}
{{> 'module/BottomBtnBox_1-a' btn1='모든 판매취소' btn2='판매등록' disabled2=true }}