{{#> 'Page' }}
  {{> 'layout/Header_2-a' }}
  <main>
    <section data-seq="20230731163919457" style="margin-top:30px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/TitleBox_6-a' txt1='C.point가 컬쳐캐쉬로 전환되었습니다!' }}
          <div style="margin-top:40px;">
            {{> 'module/InfoList_1-k' }}
          </div>
        </div>
      </div>
    </section>
  </main>
  {{> 'layout/Footer_1-a' }}
{{/ 'Page' }}
{{> 'module/BottomBtnBox_1-b' btn='확인' style=2 }}