<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq="20230801200939992" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
          <script>Include('/hbs/component/TitleBox_1-a.hbs', {txt1:'계좌등록이 완료 되었습니다.'});</script>
          <div style="margin-top:30px; position:relative;">
            <script>Include('/hbs/component/InfoBox_2-c.hbs');</script>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
{{!--prettier-ignore--}}
<script>
  Include('/hbs/component/BottomBtnBox_1-a.hbs', {
    btns: [
      {
        label: '확인',
        style: 1,
        disabled:false,
      },
    ],
  });
</script>