<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq="20230731165412026" style="margin-top:30px;">
      <div class="HBox">
        <div class="Inner">
          <script>Include('/hbs/component/TitleBox_1-a.hbs', {txt1:'출금 계좌정보를 확인해주세요.'});</script>
          <div style="margin-top:30px;">
            <script>Include('/hbs/component/InfoBox_2-a.hbs');</script>
          </div>
          <article class="CenterCenter" style="margin-top:20px;">
            <button class='Btn_5'>
              <article class='CenterCenter'>
                <img style='margin-right:10px;' src='/public/icon/2307311426.svg' alt=''/>
                <div>계좌 추가 등록</div>
              </article>
            </button>
          </article>
        </div>
      </div>
    </section>
    <section data-seq="20230728120147336" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
          <div style="position:relative;">
            <script>Include('/hbs/component/TitleBox_3-a.hbs', {txt2:'보유중인 C.point', txt3:'3,780원'});</script>
            <div style="z-index:10; position:absolute; top:40px; left:30px;">
              <script>Include('/hbs/layer/ToolTip_1-e.hbs');</script>
            </div>
          </div>
          <div>
            <script>Include('/hbs/component/InfoList_1-g.hbs');</script>
          </div>
          <article class="CenterLeft" style="margin-top:30px;">
            <div style="flex:1; margin-right:10px;">
              <div class="InputUi Style1 w-full" data-form-hei="Sm">
                <input type="text" value="10,000P">
              </div>
            </div>
            <div style="min-width:80px;">
              <button class="ButtonUi Style2 w-full" data-form-hei="Sm">전액출금</button>
            </div>
          </article>
        </div>
      </div>
    </section>
    <div class="Divider_1"></div>
    <section data-seq="20230731184410925" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
          <script>Include('/hbs/component/InfoList_1-h.hbs');</script>
        </div>
      </div>
    </section>
  </main>
</div>
{{!--prettier-ignore--}}
<script>
  Include('/hbs/component/BottomBtnBox_1-a.hbs', {
    btns: [
      {
        label: '출금신청',
        style: 1,
        disabled:false,
      },
    ],
  });
</script>