<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq='20230731165412026' style='margin-top:30px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TitleBox_1-a.hbs', {txt1:'출금 계좌정보를 확인해주세요.'});</script>
          <article class='CenterCenter' style='margin-top:30px;'>
            <button class='Btn_5' style='height:100px;'>
              <img style='margin-left:auto; margin-right:auto;' src='/public/icon/2307311426.svg' alt='' />
              <div style='margin-top:10px;'>계좌 등록하기</div>
            </button>
          </article>
        </div>
      </div>
    </section>
    <section data-seq='20230728120147336' style='margin-top:20px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TitleBox_3-a.hbs', {txt2:'보유중인 C.point', txt3:'3,780원'});</script>
          <script>Include('/hbs/component/InfoList_1-f.hbs');</script>
          <article class='CenterLeft' style='margin-top:30px;'>
            <div style='flex:1; margin-right:10px;'>
              <div class='InputUi Style1 w-full' data-form-hei='Sm'>
                <input type='text' value='0P' />
              </div>
            </div>
            <div style='min-width:80px;'>
              <button class='ButtonUi Style2 w-full' data-form-hei='Sm'>전액출금</button>
            </div>
          </article>
        </div>
      </div>
    </section>
  </main>
</div>
{{!--prettier-ignore--}}
<script>
  Include('/hbs/component/BottomBtnBox_1-a.hbs', {
    btns: [
      {
        label: '출금신청',
        style: 1,
        disabled:true,
      },
    ],
  });
</script>