<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq="20230801163708261" style="margin-top:30px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/TitleBox_6-a' txt1='본인 명의의 계좌번호를 입력해주세요.' }}

          <div style="margin-top:30px;">
            {{> 'module/TitleBox_5-a' txt1='은행선택' }}
            <div style="margin-top:8px;">
              <select class="SelectUi Style1 w-full" data-form-hei="Md">
                <option value="aaa">하나은행</option>
                <option value="bbb">BBB</option>
                <option value="ccc">CCC</option>
              </select>
            </div>
          </div>
          <div style="margin-top:40px;">
            {{> 'module/TitleBox_5-a' txt1='계좌번호' }}
            <div style="margin-top:8px;">
              <div class="InputUi Style1 w-full" data-form-hei="Md">
                <input placeholder="계좌번호를 입력해주세요.">
                <script>initInputUi();</script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section data-seq="20230801164655573" style="margin-top:60px;">
      <div class="HBox">
        <div class="Inner">
          <article>
            <label class="CenterLeft">
              <input class="CheckBoxUi Style2" type="checkbox" data-size="Lg">
              <div class="LabalUi">전체동의</div>
            </label>
            <article style="margin-top:20px; display:flex; gap:8px; flex-direction:column;">
              <label class="CenterLeft">
                <input class="CheckBoxUi Style2" type="checkbox" data-size="Md" checked>
                <div class="LabalUi">(필수) 개인정보 수집 및 이용동의</div>
              </label>
              <label class="CenterLeft">
                <input class="CheckBoxUi Style2" type="checkbox" data-size="Md">
                <div class="LabalUi">(필수) 개인정보 제3자 제공 동의</div>
              </label>
            </article>
          </article>
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>
{{> 'module/BottomBtnBox_1-b' btn='다음' style=2 }}