<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq="20230730192238545" style="margin-top:30px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/AlertBox_1-i' }}
        </div>
      </div>
    </section>
    <section data-seq="20230730192539883" style="margin-top:30px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/RadioGroup_2-a' }}
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>
{{> 'module/BottomBtnBox_1-b' btn='선택 완료' }}