{{#> 'Page' }}
  {{> 'layout/Header_2-a' }}
  <main>
    <section data-seq="20230731115136262" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/TitleBox_4-a' }}
          {{> 'module/TitleBox_4-b' }}
          {{> 'module/TitleBox_4-c' }}
          {{> 'module/TitleBox_4-d' }}
        </div>
      </div>
    </section>
    <section data-seq="20230731122331333" style="margin-top:30px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/TitleBox_5-a' txt1='충전금액' }}
          <div style="margin-top:8px;">
            <div class="InputUi Style1 w-full" data-form-hei="Md">
              <input value="10,000원">
              <button style="width:24px;">
                <img src="/public/icon/2307091854.svg" alt=""/>
              </button>
              <script>initInputUi();</script>
            </div>
          </div>
          <div style="margin-top:16px;">
            {{> 'module/RadioGroup_3-a' array='5,000원|10,000원|30,000원|50,000원' }}
          </div>
        </div>
      </div>
    </section>
    <section data-seq="20230731133742513" style="margin-top:30px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/TitleBox_5-a' txt1='출금계좌' }}
          <div style="margin-top:8px;">
            <button class='Btn_4'>
              <article class='CenterBetween'>
                <article class='CenterLeft'>
                  <div>
                    <img src='/public/icon/2307311340.svg' alt=''/>
                  </div>
                  <div style='margin-left:10px; text-align:left;'>
                    <div style='color:#303030; font-size:14px; font-weight:600;'>하나</div>
                    <div style='margin-top:8px; color:#767676; font-size:12px; font-weight:400;'>하나 287****5007</div>
                  </div>
                </article>
                <div>
                  <img src='/public/icon/2307311341.svg' alt=''/>
                </div>
              </article>
            </button>
          </div>
          <div style="margin-top:60px;">
            {{> 'module/TosBox_1-c' }}
          </div>
        </div>
      </div>
    </section>
  </main>
  {{> 'layout/Footer_1-a' }}
{{/ 'Page' }}
{{> 'module/BottomBtnBox_1-b' btn='충전하기' }}