<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq="20230731163919457" style="margin-top:30px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/TitleBox_6-a' txt1='C.point 충전이 완료되었습니다!' }}
          <div style="margin-top:40px;">
            {{> 'module/InfoList_1-e' }}
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>
{{> 'module/BottomBtnBox_1-b' btn='확인' style=2 }}