<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq='20230730192238545' style='margin-top:30px;'>
      <div class='HBox'>
        <div class='Inner'>
          <div class='AlertBox_1'>
            <div class='CenterCenter'>
              <div class='Txt1 font-medium'>
                C.point 충전 수단을 선택해주세요.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section data-seq='20230730192539883' style='margin-top:30px;'>
      <div class='HBox'>
        <div class='Inner'>
          {{!--prettier-ignore--}}
          <script>
            Include('/hbs/component/RadioGroup_2-a.hbs', {
              array: [
                {
                  label: "간편 계좌이체",
                  bg: "",
                },
                {
                  label: "신용카드",
                  bg: "",
                },
                {
                  label: "휴대폰 결제",
                  bg: "",
                },
                {
                  label: "네이버페이",
                  bg: "#00C73C",
                },
                {
                  label: "카카오페이",
                  bg: "#FFEB00",
                },
              ]
            });
          </script>
        </div>
      </div>
    </section>
  </main>
</div>
{{!--prettier-ignore--}}
<script>
  Include('/hbs/component/BottomBtnBox_1-a.hbs', {
    btns: [
      {
        label: '선택 완료',
        style: 1,
        disabled: false,
      },
    ],
  });
</script>