<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    <section data-seq='20230801200939992' style='margin-top:20px;'>
      <div class='HBox'>
        <div class='Inner'>
          <div class='AlertBox_1'>
            <div class='CenterCenter'>
              <div class='Txt1 font-medium'>
                <p><strong>입력한 계좌로 1원을 보내드렸습니다.</strong></p>
                <p>계좌의 입금내역에 표시된</p>
                <p>4자리 글자를 입력해주세요.</p>
              </div>
            </div>
          </div>
          <div style='margin-top:30px; position:relative;'>
            <script>Include('/hbs/component/InfoBox_2-b.hbs');</script>
            <div style='z-index:10; position:absolute; bottom:-12px; left:18px;'>
              <div class='t-efaf75dd'>
                <img style='z-index:10; position:absolute; top:-5px; left:15px;' src='/public/icon/2308012017.svg' alt='' />
                컬쳐랜드 뒤 4글자 확인
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section data-seq='20230801163708261' style='margin-top:50px;'>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/TitleBox_5-a.hbs', {txt1:'계좌인증'});</script>
          <div style='margin-top:8px;'>
            <div class='InputUi Style1 w-full' data-form-hei='Md'>
              <input placeholder='4자리 글자를 입력해주세요.' />
              <script>initInputUi();</script>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>
{{!--prettier-ignore--}}
<script>
  Include('/hbs/component/BottomBtnBox_1-a.hbs', {
    btns: [
      {
        label: '다음',
        style: 2,
        disabled:false,
      },
    ],
  });
</script>