{{#> 'Page' }}
  {{> 'layout/Header_2-a' }}
  <main>
    <section data-seq="20230801200939992" style="margin-top:20px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/TitleBox_6-a' txt1='계좌등록이 완료 되었습니다.' }}
          <div style="margin-top:30px; position:relative;">
            {{> 'module/InfoBox_2-c' }}
          </div>
        </div>
      </div>
    </section>
  </main>
  {{> 'layout/Footer_1-a' }}
{{/ 'Page' }}
{{> 'module/BottomBtnBox_1-b' btn='확인' style=1 }}