{{#> 'Page' }}
  {{> 'layout/Header_2-a' }}
  <main>
    <section data-seq="20230801091618966" style="margin-top:30px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/FilterBtnBox_1-a' array='결제|충전/적립|출금|전환' }}
        </div>
      </div>
    </section>
    <section data-seq="20230801091704231" style="margin-top:30px;">
      <div class="HBox">
        <div class="Inner">
          {{> 'module/Text_1-c' }}
          <div style="margin-top:30px;">
            {{> 'module/InfoBoxList_1-a' }}
          </div>
        </div>
      </div>
    </section>
  </main>
  {{> 'layout/Footer_1-a' }}
{{/ 'Page' }}