<div id='page'>
  <script>
    Include('/hbs/layout/Header_2-a.hbs');
  </script>
  <main>
    {{!--prettier-ignore--}}
    <style>
      html{ background-color:#f4f4f4; }
    </style>
    <section data-seq='20230801093944101'>
      <div class='Wrap_230806005443'>
        <article class='CenterCenter'>
          <div class='Box1'>
            <div class='Txt1'>
              오프라인에서도
              <span style='color:#FFCC45;'>C.point</span>를
              <br />
              사용해보세요!
            </div>
          </div>
        </article>
        <article style='text-align:center; margin-top:26px;'>
          <div class='Txt2'>
            오프라인 바코드 결제란?
          </div>
          <div class='Txt3' style='margin-top:16px;'>
            충전 및 적립된 C.point를
            <br />
            오프라인에서도 사용하실 수 있습니다
          </div>
        </article>
        <img style='margin-top:26px;' class='Phone' src='/public/icon/2308062456.png' alt='' />
      </div>
    </section>
    <section data-seq='20230801095933673' style='padding-top:37px; padding-bottom:60px; background-color:white;'>
      <div class='HBox'>
        <div class='Inner'>
          <article style='text-align:center;'>
            <div class='Text_230806010425'>
              이용 가능 제휴사
            </div>
            <div class='Text_230806010357' style='margin-top:10px;'>
              GS25, CU, 세븐일레븐, 미니스톱, 이마트24
            </div>
          </article>
          <div style='margin-top:27px;'>
            <ul style='display:grid; grid-template-columns:repeat(3, minmax(0, 1fr)); gap:16px;'>
              {{#LOOP 5}}
                <li>
                  <div class='ImgBox_3'>
                    <img style='width: 100%;' src='/public/image/brand/{{number}}.png' alt='' />
                  </div>
                </li>
              {{/LOOP}}
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section data-seq='20230801100714212' style='padding-top:54px;'>
      <div class='HBox'>
        <div class='Inner'>
          <article style='text-align:center;'>
            <div style='color:#303030; font-size:16px; font-weight:600;'>
              이용방법
            </div>
          </article>
          <ul class='space-y-[14px]' style='margin-top:28px;'>
            <li>
              <div class='StepBox_1'>
                <article class='CenterCenter'>
                  <div class='Title1'>STEP 1</div>
                  <div class='Txt-230806012151'>
                    <strong>[지갑]</strong>
                    메뉴에서
                    <br />
                    <p>'오프라인 바코드 결제' 버튼을 클릭해주세요</p>
                  </div>
                  <div style='margin-top:24px;'>
                    <div>
                      <script>Include('/hbs/component/PointBox_3-b.hbs');</script>
                    </div>
                    <div style='margin-top:20px;'>
                      <script>Include('/hbs/component/BarcodeBox_1-a.hbs', {outline:true});</script>
                    </div>
                  </div>
                </article>
              </div>
            </li>
            <li>
              <div class='StepBox_1'>
                <article class='CenterCenter'>
                  <div class='Title1'>STEP 2</div>
                  <div class='Txt-230806012151'>
                    C.point 오프라인 사용가능 매장인지 확인해주세요
                  </div>
                  <ul style='margin-top:23px; display:grid; grid-template-columns:repeat(3, minmax(0, 1fr)); gap:16px;'>
                    {{#LOOP 5}}
                      <li>
                        <div class='ImgBox_3'>
                          <img style='width: 100%;' src='/public/image/brand/{{number}}.png' alt='' />
                        </div>
                      </li>
                    {{/LOOP}}
                  </ul>
                </article>
              </div>
            </li>
            <li>
              <div class='StepBox_1'>
                <article class='CenterCenter'>
                  <div class='Title1'>STEP 3</div>
                  <div class='Txt-230806012151'>
                    결제 바코드를 매장 직원에게 보여주세요.
                    <br />
                    <span style='color:#767676'>(C.point로 결제한다고 말해주시면 더욱 좋습니다)</span>
                  </div>
                  <div style='margin-top:30px;'>
                    <img style='margin-left:auto; margin-right:auto;' src='/public/image/2308011111.png' alt='' />
                  </div>
                </article>
              </div>
            </li>
            <li>
              <div class='StepBox_1'>
                <article class='CenterCenter'>
                  <div class='Title1'>STEP 4</div>
                  <div class='Txt-230806012151'>
                    바코드 스캔 후 결제가 완료 되며,
                    <br />
                    이용 내역은
                    <strong>[지갑] > [포인트 결제 내역]</strong>에서
                    <br />
                    확인하실 수 있습니다.
                  </div>
                  <div style='margin-top:24px;'>
                    <img style='margin-left:auto; margin-right:auto;' src='/public/image/2308011103.png' alt='' />
                  </div>
                </article>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>