.TopActionBar_1 {
  position: relative;
  height: 64px;
  background-color: var(--color1);
  .Sec0 {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    height: 100%;

    .LeftArea {
      padding-left: var(--contents-side-padding);
    }

    .RightArea {
      padding-right: var(--contents-side-padding);
    }
  }
  .PageTitle {
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 16px;
    font-weight: 600;
  }
}
/**/
.TopActionBar_2 {
  border-bottom: 1px solid #ebebeb;
  background-color: white;

  .t-7ad84641 {
    color: #ff3838;
    font-size: 16px;
    font-weight: 500;
  }

  > .Inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    padding-left: 24px;
    padding-right: 20px;
    height: 56px;
  }

  .PageTitle {
    color: var(--text-color1);
    font-size: 16px;
    font-weight: 500;
  }
}
/**/
.TopActionBar_3 {
  border-bottom: 1px solid #ebebeb;
  background-color: white;

  > .Inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    padding-left: 24px;
    padding-right: 20px;
    height: 56px;
  }

  .PageTitle {
    color: var(--text-color1);
    font-size: 16px;
    font-weight: 500;
  }
}
/**/
.TabBar_1 {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #ebebeb;
  height: 50px;
  > button {
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: var(--text-color1);
    font-size: 14px;
    font-weight: 600;
    &.On {
      color: #ff3838;
      &:after {
        background-color: #ff3838;
        width: 100%;
        height: 2px;
        bottom: -1px;
        left: 0px;
        display: inline-block;
        content: '';
        position: absolute;
        z-index: 3;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
/**/
.TabBar_2 {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  border-bottom: 1px solid #ebebeb;
  height: 50px;
  > button {
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: var(--text-color1);
    font-size: 14px;
    font-weight: 600;
    &.On {
      color: #ff3838;
      &:after {
        background-color: #ff3838;
        width: 100%;
        height: 2px;
        bottom: -1px;
        left: 0px;
        display: inline-block;
        content: '';
        position: absolute;
        z-index: 3;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
/**/
.BottomNavi_1 {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 0;
  box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-bottom: calc(3px + var(--sab, 0px));
  button {
    color: var(--text-color1);
    height: 50px;
    border-radius: 12px;
    .Icon {
      svg {
        width: 24px;
      }
    }
    .Label {
      font-size: 10px;
      font-weight: 400;
    }
    &.On {
      .Label {
        color: #ea2c2c;
        font-weight: 600;
      }
    }
  }
}
/**/
.Text_1 {
  color: #303030;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
/**/
.ButtonList_1 {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 10px;
  justify-items: center;
  button {
    width: 56px;
    width: 100%;
    .Icon {
      width: 100%;
      aspect-ratio: 1/1;
      border: 1px solid #ebebeb;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0px;
      padding: 8px;
      img {
        width: 100%;
      }
    }
    .Label {
      margin-top: 7px;
      color: var(--text-color1);
      font-size: 11px;
      font-weight: 500;
      line-height: 16px;
    }
  }
}
/**/
.Divider_1 {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 6px;
  border-bottom: 1px solid #e1e1e1;
  background: #ebebeb;
}
/**/
.Title_1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  color: #303030;
  font-size: 16px;
  font-weight: 600;
}
/**/
.Title_2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #303030;
  font-size: 14px;
  font-weight: 600;
}
/**/
.Title_3 {
  color: #767676;
  font-size: 12px;
  font-weight: 600;
}
/**/
.ImgBox_1 {
  padding: 4px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #f4f4f4;
  border-radius: 8px;

  .New {
    z-index: 10;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 14px;
  }

  .Like {
    z-index: 10;
    position: absolute;
    bottom: 6px;
    right: 6px;
  }

  .Rank {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    border-radius: 6px;
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #a6a6a6;
    width: 22px;
    height: 22px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    &.Rank1 {
      background-color: #fe3839;
    }
  }

  .DDay {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    background-color: #ff3838;
    border-radius: 4px;
  }

  .NoSellCover {
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
  }

  .NoAddCover {
    border-radius: 8px;
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    color: #303030;
    font-size: 12px;
    font-weight: 600;
  }
}
/**/
.ProductInfo_1 {
  background-color: white;

  .Txt1 {
    color: #a6a6a6;
    font-size: 10px;
    font-weight: 400;
  }

  .Txt1-1 {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 400;
  }

  .Txt2 {
    color: #303030;
    font-size: 12px;
    font-weight: 600;
  }

  .Txt2-1 {
    color: #303030;
    font-size: 14px;
    font-weight: 600;
  }

  .Txt2-2 {
    color: #303030;
    font-size: 12px;
    font-weight: 500;
  }

  .Txt3 {
    color: #303030;
    font-size: 10px;
    font-weight: 600;
  }

  .Txt3-1 {
    color: #303030;
    font-size: 16px;
    font-weight: 600;
  }

  .Txt3-2 {
    color: #303030;
    font-size: 12px;
    font-weight: 600;
  }

  .Txt4 {
    color: #ff3838;
    font-size: 10px;
    font-weight: 600;
  }

  .Txt4-1 {
    color: #ff3838;
    font-size: 14px;
    font-weight: 600;
  }

  .Txt4-2 {
    color: #ff3838;
    font-size: 12px;
    font-weight: 600;
  }

  .Txt5 {
    color: #a6a6a6;
    font-size: 10px;
    font-weight: 400;
    text-decoration: line-through;
  }

  .Txt5-1 {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through;
  }

  .Txt6 {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 400;
  }

  .Txt7 {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 600;
  }
}
/**/
.ButtonList_3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
  justify-items: center;
  padding: 0px 20px;
  > button {
    width: 100%;

    .ImgBox_1 {
      border: 1px solid #ebebeb;
      background: #f4f4f4;
    }

    .Label {
      margin-top: 16px;
      color: #161616;
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
    }
  }

  > button.On {
    .ImgBox_1 {
      position: relative;
      border-color: #ff3838;
      border-width: 2px;

      &:after {
        white-space: nowrap;
        background-color: #ff3838;
        color: #ffffff;
        font-size: 10px;
        line-height: 20px;
        font-weight: 400;
        padding: 0px 10px;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 8px;
        display: inline-block;
        content: '이용중';
        position: absolute;
        z-index: 3;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

/**/
.TitleBox_3 {
  display: flex;
  align-items: center;
  gap: 0px;
  height: 50px;
  border-bottom: 1px solid #ebebeb;
  > * {
    flex: 1;
  }

  .Txt3 {
    color: #303030;
    font-size: 14px;
    font-weight: 600;
  }
}
/**/
.ProductList_1 {
  > ul {
    > li {
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid #ebebeb;
    }
  }
}
/**/
.DatePicker {
  > ul {
    position: relative;

    &:before,
    &:after {
      width: 100%;
      height: 88px;
      left: 0px;
      display: inline-block;
      content: '';
      position: absolute;
      z-index: 3;
      background-position: center;
      background-repeat: no-repeat;
      pointer-events: none;
    }
    &:before {
      top: 0px;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    }

    &:after {
      bottom: 0;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    }
  }

  .DateItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    height: 43px;
    border-radius: 100px;
    color: #303030;

    &.On {
      background-color: #f2f5ff;
    }

    .Txt1 {
      width: 50px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: 500;
    }
    .Txt2 {
      width: 19px;
      text-align: center;
      font-size: 12px;
    }
  }
}
/**/
.Table_1 {
  background-color: white;

  > table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    > thead {
      color: #303030;
      font-size: 12px;
      font-weight: 600;
      > tr {
        > th {
          height: 51px;
        }
      }
    }
    > tbody {
      color: #303030;
      font-size: 11px;
      font-weight: 400;
      > tr {
        > * {
          border-top: 1px solid #ebebeb;
          height: 51px;
          text-align: center;
        }
      }
    }
  }
}
/**/
.Table_2 {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;

  > tbody {
    th {
      color: #303030;
      font-size: 12px;
      font-weight: 600;
      text-align: left;
    }
    td {
      text-align: right;
      padding-top: 8px;
      padding-bottom: 8px;
      color: #767676;
      font-size: 12px;
      font-weight: 600;
    }
  }

  .Txt1 {
    font-size: 14px;
    font-weight: 600;
  }
}
/**/
.Table_3 {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  > * {
    > tr > * {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    th {
      text-align: center;
      font-size: 12px;
      font-weight: 600;
    }
    td {
      text-align: center;
      font-size: 11px;
      line-height: 16px;
    }
  }

  > tbody {
    tr {
      border-top: 1px solid #ebebeb;
      border-bottom: 1px solid #ebebeb;
    }
  }
}
/**/
.Table_4 {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  color: #303030;
  font-size: 12px;
  font-weight: 500;
  th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
  }
  td {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
  }
}
/**/
.Table_5 {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  color: #303030;
  font-size: 12px;
  font-weight: 600;

  th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
  }
  td {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: right;
  }
}

/**/
.Table_6 {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;

  th {
    text-align: left;
    color: #767676;
    font-size: 12px;
    font-weight: 600;
  }

  td {
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #303030;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
  }
}

/**/
.Ol_1 {
  --p-left: 1em;
}
.Ol_1 {
  width: calc(100% - var(--p-left));
  color: #303030;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4em;
  list-style: auto;
  margin-left: var(--p-left);
  li + li {
    margin-top: 0.5em;
  }
}
/**/
.BrandItem_1 {
  .Label {
    text-align: center;
    margin-top: 20px;
    color: #161616;
    font-size: 14px;
    font-weight: 600;
  }
}
/**/
.ChipsList_1 {
  display: flex;
  align-items: center;
  gap: 5px;
  overflow: auto;
  padding-left: var(--contents-side-padding);
  padding-right: var(--contents-side-padding);
  button {
    color: #767676;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #e1e1e1;
    &.On {
      color: white;
      border-color: #ff3838;
      background-color: #ff3838;
    }
  }
}
/**/
.ChipsList_2 {
  display: flex;
  align-items: center;
  gap: 5px;
  overflow: auto;
  padding-left: var(--contents-side-padding);
  padding-right: var(--contents-side-padding);
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding: 4px 10px;
    padding-right: 7px;
    color: #767676;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    > img {
      margin-left: 4px;
    }
  }
}
/**/
.AlertBox_1 {
  width: 100%;
  text-align: center;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  background: #f4f4f4;
  padding: 12px 10px;
  font-weight: 400;
  &.Style1 {
    background-color: #f2f5ff;
  }
  &.Style2 {
    background-color: #fbeded;
  }

  .Txt1 {
    color: var(--text-color1);
    font-size: 14px;
    line-height: 20px;
  }
}
/**/
.Badge_1 {
  border-radius: 14px;
  border-width: 1px;
  border-style: solid;
  padding: 0px 10px;
  height: 26px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  font-size: 12px;
  font-weight: 600;
  border-color: #767676;
  color: #767676;

  &.Style1 {
    border-color: #4168f6;
    color: #4168f6;
  }
}
/**/
.Badge_2 {
  border-radius: 8px;
  padding: 0px 10px;
  height: 28px;
  border: 1px solid #303030;
  color: #303030;
  font-size: 12px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  &.Style1 {
    border-color: #ff3838;
    color: #ff3838;
  }
  &.Style2 {
    border-color: #a6a6a6;
    color: #a6a6a6;
  }
  &.Style3 {
    border-color: #4168f6;
    color: #4168f6;
  }
}
/**/
.EmptyList_1 {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;

  .Txt1 {
    text-align: center;
    color: #767676;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }

  .Txt2 {
    text-align: center;
    color: #767676;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
}
/**/
.FilterBtnBox_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  > button {
    flex: 1;
  }
}
/**/
.NotiItemList_1 {
  > ul {
    > li {
      .Txt1 {
        color: #a6a6a6;
        font-size: 12px;
        font-weight: 400;
      }

      .Txt2 {
        color: #303030;
        font-size: 12px;
        font-weight: 600;
      }

      .Txt3 {
        color: #767676;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
      }

      + li {
        margin-top: 16px;
      }
    }
  }
}
/**/
.NotiItem_1 {
  border-radius: 8px;
  border: 1px solid var(--sub-border-1, #ebebeb);
  background: var(--sub-white, #ffffff);
  padding: 20px 16px;
  &.On {
    border-color: #ff3838;
  }
}
/**/
.OptionBox_1 {
  border-radius: 10px;
  background: var(--sub-white, #ffffff);
  padding: 20px;
}
/**/
.RankingList_1 {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, minmax(0, 1fr));
  gap: 0;
  > li {
    padding: 10px 15px;
    padding-left: 0;
  }

  .Txt1 {
    color: #ff3838;
    font-size: 12px;
    font-weight: 400;
  }

  .Txt2 {
    margin-left: 12px;
    color: #303030;
    font-size: 12px;
    font-weight: 400;
  }

  .Arrow {
    width: 16px;
    height: 16px;
  }
}
/**/
.BottomBtnBox_1 {
  width: 100%;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  > * {
    flex: 1;
  }

  .C-274b091b {
    color: #303030;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
  }
}
/**/
.BottomBtnBox_2 {
  width: 100%;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.1);

  .InfoTable {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;

    td {
      color: #303030;
      font-size: 14px;
      font-weight: 600;
      &:last-child {
        text-align: right;
      }
    }
  }

  > .Inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    > button {
      flex: 1;
    }
  }
}
/**/
.ItemImgBox_1 {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 16px;
}
/**/
.ProductInfoBox_1 {
  background-color: white;
  border-top: 1px solid #ebebeb;
  padding: 26px 20px;
}
/**/
.ButtonList_2 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 13px;
  justify-items: center;
  padding: 30px 20px;
  button {
    width: 98px;
    padding-top: 12px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 14px;
    //box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.1);
    .Icon {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0px;
    }
    .Label {
      margin-top: 12px;
      color: #161616;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
/**/
.ScrollTabBar_1 {
  .TabBtns {
    background-color: white;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    gap: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #ebebeb;
    > button {
      position: relative;
      padding: 17px 21px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      color: var(--text-color1);
      font-size: 14px;
      font-weight: 600;
      &.On {
        color: #ff3838;
        &:after {
          background-color: #ff3838;
          width: 100%;
          height: 2px;
          bottom: -1px;
          left: 0px;
          display: inline-block;
          content: '';
          position: absolute;
          z-index: 3;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
/**/
.HScrollBox_1 {
  @mixin mxHShadow {
    width: 30px;
    height: 100%;
    top: 0px;
    display: block;
    content: '';
    position: absolute;
    z-index: 3;
    opacity: 1;
    transition: opacity 300ms cubic-bezier(0.33, 1, 0.68, 1);
    will-change: auto;
  }

  font-size: 0;
  position: relative;

  .Track {
    width: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &:before {
    @include mxHShadow;
    left: 0px;
    background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &.Start:before {
    opacity: 0;
  }

  &:after {
    @include mxHShadow;
    right: 0px;
    background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &.End:after {
    opacity: 0;
  }
}
/**/
.ProductItem_2 {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  background: #ffffff;

  > article {
    align-items: flex-start;
  }

  .Txt1 {
    color: #303030;
    font-size: 14px;
    font-weight: 600;
  }

  .Txt2 {
    color: #303030;
    font-size: 12px;
    font-weight: 500;
  }

  .Txt3 {
    color: #ff3838;
    font-size: 12px;
    font-weight: 600;
  }

  .Txt4 {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 400;
  }

  .Txt5 {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 400;
  }
}
/**/
.CuponBox_1 {
  padding: 20px;
  background: white;
  box-shadow: 0px 0px 6px 0px rgba(166, 166, 166, 0.6);
}
/**/
.InfoList_1 {
  background-color: white;

  > ul {
    > li {
      padding: 19px 16px;
      border-bottom: 1px solid #ebebeb;
    }
  }

  .Txt1 {
    color: #303030;
    font-size: 12px;
    font-weight: 600;
  }
  .Txt2 {
    color: #767676;
    font-size: 12px;
    font-weight: 600;
  }
  .Txt3 {
    color: #a6a6a6;
    font-size: 11px;
    font-weight: 600;
  }
  .Txt4 {
    color: #303030;
    font-size: 14px;
    font-weight: 600;
  }

  .Txt5 {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
  }
  .Txt6 {
    color: #303030;
    font-size: 16px;
    font-weight: 600;
  }
}
/**/
.Text_2 {
  border-top: 1px solid var(--sub-border-1, #ebebeb);
  border-bottom: 1px solid var(--sub-border-1, #ebebeb);
  background: var(--sub-white, #ffffff);
  padding: 20px 18px;

  .Txt1 {
    color: #888888;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
  }

  .Txt2 {
    color: #303030;
    font-size: 12px;
    font-weight: 500;
  }
}
/**/
.Collapse_1 {
  color: #303030;
  > li {
    border-bottom: 1px solid #ebebeb;
    .Q {
      font-size: 12px;
      font-weight: 600;
      button {
        width: 100%;
        height: 50px;
        padding-left: 16px;
        padding-right: 5px;
      }
    }
    .A {
      display: none;
      font-size: 11px;
      font-weight: 400;
      line-height: 16px;
      .Inner {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 20px;
      }
    }
    &.On {
      .A {
        display: block;
      }
      .Arrow {
        transition: transform 300ms cubic-bezier(0.33, 1, 0.68, 1);
        will-change: auto;
        transform: rotate(180deg);
      }
    }
  }
}
/**/
.Collapse_2 {
  color: #303030;
  > li {
    border-bottom: 1px solid #ebebeb;
    .Q {
      font-size: 14px;
      font-weight: 400;
      button {
        width: 100%;
        height: 60px;
        padding-left: 16px;
        padding-right: 5px;
      }
    }
    .A {
      display: none;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      .Inner {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 20px;
      }
    }
    &.On {
      .Q {
        font-weight: 600;
      }

      .A {
        display: block;
      }
      .Arrow {
        transition: transform 300ms cubic-bezier(0.33, 1, 0.68, 1);
        will-change: auto;
        transform: rotate(180deg);
      }
    }
  }
}
/**/
.ProductList_2 {
  > ul {
    > li {
      border-bottom: 1px solid #ebebeb;
    }
    > li + li {
      margin-top: 8px;
    }
  }
}
/**/
.ProductList_3 {
  > ul {
    > li {
      border-bottom: 1px solid #ebebeb;
    }
    > li + li {
      margin-top: 8px;
    }
  }
}
/**/
.ProductItem_3 {
  padding: 20px;

  > article {
    align-items: flex-start;
  }

  .ImgBox_1 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .Flag {
    border-radius: 0px 0px 8px 8px;
    font-size: 10px;
    font-weight: 400;
    padding: 8px 10px;
    text-align: center;

    &.Style1 {
      background: #fbeded;
      color: #ff3838;
    }

    &.Style2 {
      background: #e1e1e1;
      color: #a6a6a6;
    }

    &.Style3 {
      background: #767676;
      color: #ffffff;
    }

    &.Style4 {
      background: #ff3838;
      color: #ffffff;
    }

    &.Style5 {
      background: #f2f5ff;
      color: #4168f6;
    }
  }

  .Txt1 {
    color: #303030;
    font-size: 14px;
    font-weight: 600;
  }

  .Txt2 {
    color: #303030;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  .Txt3 {
    color: #ff3838;
    font-size: 12px;
    font-weight: 600;
  }

  .Txt4 {
    color: #303030;
    font-size: 12px;
    font-weight: 600;
  }

  .Txt5 {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }

  .Txt6 {
    color: #4168f6;
    font-size: 11px;
    font-weight: 400;
  }

  .Txt7 {
    color: #303030;
    font-size: 12px;
    font-weight: 600;
  }

  .Txt8 {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through;
  }

  .Txt9 {
    color: #ff3838;
    font-size: 12px;
    font-weight: 400;
  }

  .Txt10 {
    color: #767676;
    font-size: 12px;
    font-weight: 400;
  }

  .Txt11 {
    color: #4168f6;
    font-size: 12px;
    font-weight: 400;
  }

  .C-fec8f720 {
    color: #303030;
    font-size: 12px;
    font-weight: 600;
  }

  .C-9a791795 {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through;
  }
}
/**/
.TosBox_1 {
  padding: 20px;
  color: #303030;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  background-color: #f4f4f4;

  .Title {
    color: #303030;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
  }
}
/**/
.Ul_1 {
  color: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.25em;
  > li {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 0px;
    &:before {
      content: '-';
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0px;
      margin-right: 0.3em;
    }
    + li {
      margin-top: 0.2em;
    }
  }
}
/**/
.Ul_2 {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  > li {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 0px;
    &:before {
      content: '\2022';
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0px;
      margin-right: 0.3em;
    }
    + li {
      margin-top: 0.2em;
    }
  }
}
/**/
.AlertBox_2 {
  border-radius: 6px;
  border: 1px solid var(--sub-border-2, #e1e1e1);
  background: var(--sub-backgraound, #ffffff);
  padding: 16px;

  .Txt1 {
    text-align: left;
    color: #303030;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}
/**/
.InfoTable_1 {
  text-align: center;
  margin-top: 36px;

  .Txt1 {
    olor: #303030;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }

  .Table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    color: #303030;
    font-size: 12px;
    font-weight: 600;

    td {
      border: 1px solid #ebebeb;
      padding-top: 22px;
      padding-bottom: 22px;

      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}
/**/
.ProductItem_4 {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ebebeb;
}
/**/
.PointBox_1 {
  background-color: white;

  .Txt1 {
    color: #767676;
    font-size: 12px;
    font-weight: 600;
  }

  .Txt2 {
    color: #303030;
    font-size: 12px;
    font-weight: 400;
  }
}
/**/
.CardList_1 {
  > ul {
    overflow: auto;
    padding-left: var(--contents-side-padding);
    padding-right: var(--contents-side-padding);
    display: inline-flex;
    white-space: nowrap;
    gap: 10px;
  }
}
/**/
.RadioGroup_1 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0;
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  background-color: white;

  > label {
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    height: 40px;
    cursor: pointer;
    position: relative;
    color: #161616;
    font-size: 12px;
    font-weight: 400;

    > input {
      z-index: 0;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      appearance: none;
      background-color: transparent;

      &:checked {
        background-color: #ff3838;

        + .text1 {
          color: white;
        }
      }

      &:disabled {
        background-color: #f4f4f4;

        + .text1 {
          color: #a6a6a6;
        }
      }
    }

    > .text1 {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0px;
    }
  }
}
/**/
.PointBox_2 {
  background-color: white;
  padding: 20px 16px;
  border: 1px solid #ebebeb;
  border-radius: 8px;

  .Txt1 {
    color: #767676;
    font-size: 12px;
    font-weight: 500;
  }

  .Txt2 {
    color: #303030;
    font-size: 12px;
    font-weight: 400;
  }
}
/**/
.ProfileBox_1 {
  background-color: #e03434;
  border-radius: 8px;
  padding: 21px 26px;

  .Txt1 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
  }

  .Thumb {
    width: 58px;
    aspect-ratio: 1;
    border: 1px solid #ebebeb;
    border-radius: 12px;
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
  }
}
/**/
.InfoBox_1 {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  padding-top: 23px;
  padding-bottom: 23px;
  > * {
    flex: 1;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;

    .Txt1 {
      color: #767676;
      font-size: 12px;
      font-weight: 500;
    }

    .Txt2 {
      color: #303030;
      font-size: 14px;
      font-weight: 600;
      margin-top: 14px;
    }

    + * {
      border-left: 1px solid #ebebeb;
    }
  }
}
/**/
.PointBox_3 {
  background-color: white;
  padding: 30px 20px;
  border-radius: 8px;

  &.Border {
    border: 1px solid #ebebeb;
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.1);
  }

  .Txt1 {
    color: #303030;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
  }

  .Txt2 {
    color: #303030;
    font-size: 14px;
    font-weight: 500;
  }

  .Box {
    border-radius: 8px 8px 0px 0px;
    border-top: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    background: #f4f4f4;
  }
  .BoxLabel {
    text-align: center;
    border: 1px solid #ebebeb;
    border-radius: 0px 0px 8px 8px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
/**/
.PointBox_4 {
  > .Head {
    background-color: #e03434;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 30px 20px;
  }

  > .Body {
    padding: 24px 20px;
    border: 1px solid #ebebeb;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .C-fdb80a20 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }

  .C-194ac271 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
  }
}
/**/
.BarcodeBox_1 {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid var(--sub-border-1, #ebebeb);
  background: var(--sub-white, #fff);

  &.On {
    outline: 3px solid #ff3838;
  }

  .Txt1 {
    color: #303030;
    font-size: 14px;
    font-weight: 600;
  }
}
/**/
.LinkList_1 {
  background-color: white;
  border: 1px solid #ebebeb;
  border-radius: 8px;

  > ul {
    > li {
      a {
        color: #303030;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0px;
        height: 60px;
        padding: 0 16px;
      }
    }

    > li + li {
      border-top: 1px solid #ebebeb;
    }
  }
}
/**/
.PointBarcodeBox_1 {
  border-radius: 8px;
  border: 1px solid #ebebeb;
  background-color: white;
  padding: 33px 30px;

  .Txt1 {
    color: #303030;
    font-size: 16px;
    font-weight: 600;
  }

  .Txt2 {
    color: #ff3838;
    font-size: 20px;
    font-weight: 700;
  }

  .Txt3 {
    color: #767676;
    font-size: 12px;
    font-weight: 600;
  }
}
/**/
.ButtonBox_1 {
  padding: 16px 15px;
  border-radius: 8px;
  border: 1px solid var(--sub-border-1, #ebebeb);
  background: var(--sub-white, #fff);
  > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;

    + ul {
      margin-top: 18px;
      padding-top: 18px;
      border-top: 1px solid #ebebeb;
    }

    > li {
      flex: 1;

      + li {
        border-left: 1px solid #ebebeb;
      }

      > button {
        width: 100%;

        .Icon {
          margin-left: auto;
          margin-right: auto;
        }

        > .Label {
          margin-top: 4px;
          color: #161616;
          font-size: 12px;
          font-weight: 600;
        }
      }
    }
  }
}
/**/
.Diagram_1 {
  background-color: #f4f4f4;
  padding-top: 30px;
  padding-bottom: 30px;

  .Wrap {
    width: 262px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    flex-direction: column;

    .Arrow {
      width: 100%;
      padding-left: 23px;
    }
  }

  .Circle {
    border: 1px solid white;
    background-color: white;
    width: 70px;
    aspect-ratio: 1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    color: #767676;
    font-size: 12px;
    font-weight: 600;

    &.Style2 {
      border-style: dashed;
      border-color: #303030;
      color: #303030;
    }

    &.Style3 {
      border-color: #ff3838;
      color: #ff3838;
    }
  }

  .CntBox {
    border-radius: 20px;
    padding: 0 15px;
    width: 132px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    color: #303030;
    font-size: 12px;
    font-weight: 600;
  }
}
/**/
.ImgBox_3 {
  padding: 8px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.1);
}
/**/
.InfoBox_2 {
  border-radius: 8px;
  border: 1px solid #e1e1e1;
  background: #fff;
  padding: 16px;

  .t-450f62e1 {
    color: #303030;
    font-size: 14px;
    font-weight: 600;
  }
}
/**/
.InfoBox_3 {
  border-radius: 8px;
  border: 1px solid #ebebeb;
  background: #ffffff;
  padding: 20px 16px;

  .t-130ad8d1 {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 500;
  }

  .t-c69c5f29 {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 600;
  }

  .t-4ec5fb48 {
    color: #ff3838;
    font-size: 12px;
    font-weight: 600;
  }

  .t-86f2b540 {
    color: #4168f6;
    font-size: 12px;
    font-weight: 600;
  }
}
/**/
.InfoBoxList_1 {
  > ul {
    > li {
      & + li {
        margin-top: 16px;
      }
    }
  }
}
/**/
.PictureList_1 {
  .t-ca64eda8 {
    text-align: center;
    color: #303030;
    font-size: 16px;
    font-weight: 600;
  }

  > ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;

    > li.Box {
      position: relative;
      border-radius: 10px;
      border: 1px solid var(--sub-border-1, #ebebeb);
      background: var(--sub-backgraound, #f4f4f4);
      aspect-ratio: 1;

      &.On {
        border: 1px solid var(--primary-cultureland-red, #ff3838);

        > .Chk {
          z-index: 10;
          position: absolute;
          top: 6px;
          right: 6px;
        }
      }
    }
  }
}
/**/
.ProductItem_5 {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  background: #ffffff;

  > article {
    align-items: flex-start;
  }

  .Txt1 {
    color: #303030;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
  }

  .Txt2 {
    color: #303030;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  .Txt3 {
    color: #ff3838;
    font-size: 12px;
    font-weight: 600;
  }

  .Txt4 {
    color: #303030;
    font-size: 12px;
    font-weight: 600;
  }

  .Txt5 {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 400;
  }
}
/**/
.ProductItem_6 {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  background: #ffffff;

  .C-2c337995 {
    color: #ff3838;
    font-size: 12px;
    font-weight: 600;
  }

  .C-cdff4686 {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 600;
  }

  .C-3771a0df {
    color: #303030;
    font-size: 12px;
    font-weight: 600;
  }

  .C-e32097f5 {
    color: #303030;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  .C-0bd7442b {
    color: #303030;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
  }

  .C-c775a6d1 {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through;
  }

  .C-e174c08b {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
}
/**/
.ProductList_4 {
  > ul {
    > li {
      + li {
        margin-top: 8px;
      }
    }
  }
}
/**/
.ProductList_5 {
  > ul {
    > li {
      + li {
        margin-top: 8px;
      }
    }
  }
}
/**/
.ProductBoxList_1 {
  > ul {
    > li {
      border: 1px solid #ebebeb;
      border-radius: 8px;
      padding: 20px;

      + li {
        margin-top: 8px;
      }
    }
  }
}
/**/
.ProductBorderList_1 {
  > ul {
    > li {
      border-bottom: 1px solid #ebebeb;
      padding: 20px;
    }
  }
}
/**/
.PrdItem_1 {
  > .Head {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: flex-end;
  }
  > .Body {
    margin-top: 2px;
    display: flex;
    gap: 0px;

    &.Centered {
      align-items: center;
    }

    > .Right {
      flex: 1;
      margin-left: 17px;
    }
  }

  .Txt1 {
    color: #767676;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }

  .Txt2 {
    color: #ff3838;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }

  .Txt3 {
    color: #4168f6;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }

  .ThumbBox {
    position: relative;
    z-index: 5;
  }

  .Flag {
    border-radius: 0px 0px 8px 8px;
    font-size: 10px;
    font-weight: 400;
    padding: 8px 10px;
    text-align: center;
    position: relative;
    z-index: 0;

    &:before {
      background-color: #f4f4f4;
      width: 100%;
      height: 10px;
      top: -10px;
      left: 0px;
      display: inline-block;
      content: '';
      position: absolute;
      z-index: 3;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.Style1 {
      background: #fbeded;
      color: #ff3838;
    }

    &.Style2 {
      background: #e1e1e1;
      color: #a6a6a6;
    }

    &.Style3 {
      background: #767676;
      color: #ffffff;
    }

    &.Style4 {
      background: #ff3838;
      color: #ffffff;
    }

    &.Style5 {
      background: #f2f5ff;
      color: #4168f6;
    }
  }

  .state1 {
    color: #ff3838;
    font-size: 12px;
    font-weight: 600;
  }

  .state2 {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 600;
  }

  .state3 {
    color: #303030;
    font-size: 12px;
    font-weight: 600;
  }

  .brand_name_xs {
    color: #a6a6a6;
    font-size: 10px;
    font-weight: 400;
  }

  .brand_name {
    color: #303030;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
  }

  .product_name {
    font-family: 'Montserrat', sans-serif;
    color: #303030;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  .product_name_2 {
    color: #303030;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
  }

  .price1 {
    font-family: 'Montserrat', sans-serif;
    color: #ff3838;
    font-size: 12px;
    font-weight: 600;
  }

  .price5 {
    font-family: 'Montserrat', sans-serif;
    color: #303030;
    font-size: 12px;
    font-weight: 600;
  }

  .price2 {
    font-family: 'Montserrat', sans-serif;
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through;
  }

  .price3 {
    font-family: 'Montserrat', sans-serif;
    color: #303030;
    font-size: 12px;
    font-weight: 600;
  }

  .sale_per {
    color: #ff3838;
    font-size: 12px;
    font-weight: 600;
  }

  .price4 {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through;
  }

  .cupon_num {
    font-family: 'Montserrat', sans-serif;
    color: #303030;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
  }

  .date_txt {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    > span {
      font-family: 'Montserrat', sans-serif;
    }
  }
}
/**/
.RadioGroup_2 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px 16px;

  > button {
    position: relative;

    > .Icon {
      border-radius: 10px;
      overflow: hidden;
      border: 1px solid #ebebeb;
      background: #f4f4f4;

      > img {
        width: 100%;
      }
    }

    > .Chk {
      z-index: 10;
      position: absolute;
      top: 6px;
      right: 6px;
      display: none;
    }

    > .Txt1 {
      margin-top: 16px;
      color: #303030;
      font-size: 14px;
      font-weight: 600;
    }
  }

  > button.On {
    > .Icon {
      border-color: #ff3838;
    }

    > .Chk {
      display: block;
    }
  }
}
/**/
.RadioGroup_3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  > button {
    flex: 1;
  }
}
/**/
.StepBox_1 {
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.1);
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;

  > article {
    flex-direction: column;
    align-items: stretch;

    > .Txt-230806012151 {
      color: #303030;
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }

    > .Title1 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 8px 14px;
      font-family: 'Montserrat', sans-serif;
      color: #fbeded;
      font-size: 12px;
      font-weight: 600;
      border-radius: 20px;
      background: #ff3838;
      margin-bottom: 16px;
    }
  }
}
/**/
.ToastMsg_1 {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - calc(var(--contents-side-padding) * 2));
  text-align: center;
  border-radius: 8px;
  background-color: rgb(48, 48, 48, 0.7);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 22px 0;
}
/**/
.BannerList_1 {
  > ul {
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    gap: 25px;
    overflow: auto;
    padding-left: var(--contents-side-padding);
    padding-right: var(--contents-side-padding);
  }
  .BannerImg {
    > img {
      border-radius: 10px;
    }
  }
}
/**/
.TitleBox_4 {
  .Txt1 {
    color: #303030;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
}
/**/
.Wrap_230806005443 {
  padding-top: 30px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background-color: #e03434;

  .Box1 {
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.1);
    display: inline-block;
    padding: 16px 30px;
  }

  .Txt1 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
  }

  .Txt2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
  }

  .Txt3 {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
  }

  .Phone {
    margin-left: auto;
    margin-right: auto;
  }
}
/**/
.Text_230806010425 {
  color: #303030;
  font-size: 16px;
  font-weight: 600;
}
/**/
.Text_230806010357 {
  display: inline-block;
  color: #a6a6a6;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 20px;
  background-color: #f4f4f4;
}
/**/
.t-efaf75dd {
  position: relative;
  padding: 8px 10px;
  border-radius: 8px;
  background-color: #ff3838;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
}
/**/
.Diagram_2 {
  .b-93ea1a1c {
    z-index: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 26px;
    width: 1px;
    height: 90%;
    background-color: #ebebeb;
  }

  .d-9e1e83c6 {
    margin-left: 15px;
    color: #303030;
    font-size: 14px;
    font-weight: 500;
  }

  .d-3d03e213 {
    color: #303030;
    font-size: 12px;
    font-weight: 500;
  }

  .c-d0e98f90 {
    width: 52px;
    aspect-ratio: 1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    font-size: 12px;
    font-weight: 600;
  }

  > ul {
    position: relative;

    > li {
      position: relative;
      z-index: 10;
    }
    > li + li {
      margin-top: 20px;
    }
  }
}
/**/
.t-37f276e9 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
/**/
.c-ce000e7d {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
/**/
.t-879be252 {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
/**/
.Legend_1 {
  .t-36c113ea {
    color: #303030;
    font-size: 12px;
    font-weight: 400;
  }
}
/**/
.t-3fb4a4ed {
  color: #ff3838;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0px;
  flex-direction: column;
  height: 100%;
}
/**/
.SearchBox_1 {
  position: relative;
}
/**/
.AutoCompleteList {
  z-index: 10;
  position: absolute;
  left: 0px;
  background-color: white;
  width: 100%;
  border: 1px solid #ebebeb;
  border-top: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  > li {
    > button {
      display: block;
      width: 100%;
      padding: 0 20px;
      display: flex;
      align-items: center;
      gap: 0px;
      height: 40px;
    }
  }
}
/**/
.ErrorTxt_1 {
  color: #ff3838;
  font-size: 12px;
  font-weight: 500;
}
/**/
.DestTxt_1 {
  color: #767676;
  font-size: 12px;
  font-weight: 400;
}
/**/
.InfoTable_2 {
  > .Inner {
    padding-top: 17px;
    padding-bottom: 18px;
    border-top: 1px solid var(--sub-border-1, #ebebeb);
    border-bottom: 1px solid var(--sub-border-1, #ebebeb);
    background: var(--sub-white, #fff);
  }

  .t-9180769c {
    color: #303030;
    font-size: 14px;
    font-weight: 600;
  }

  .C-88e87f5c {
    color: #ff3838;
    font-size: 14px;
    font-weight: 600;
  }
}
/**/
.C-b8a50423 {
  color: #938e8e;
  font-size: 12px;
  font-weight: 400;
}
/**/
.ProductLink_1 {
  background-color: #f4f4f4;
  padding: 12px var(--contents-side-padding);
  .C-afc2b9b6 {
    color: #a6a6a6;
    font-size: 10px;
    font-weight: 400;
  }
  .C-4b9074d2 {
    color: #303030;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
  }
  .C-2c76d0f5 {
    font-family: 'Montserrat', sans-serif;
    color: #303030;
    font-size: 12px;
    font-weight: 400;
  }
}
/**/
.ChantBoxWrap_1 {
  background-color: #ffffd4;
  padding: 30px var(--contents-side-padding);
}
/**/
.ChatBox_1 {
  margin-bottom: 26px;
  display: flex;
  gap: 0px;
  flex-direction: column;

  .DateArea {
    margin-bottom: 10px;
  }

  .ContentsArea {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    color: #303030;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }

  &.Other {
    //padding-right: 20px;
    align-items: flex-start;

    .ContentsArea {
      background: var(--sub-backgraound, #f4f4f4);
      box-shadow: 0px 0px 6px 0px rgba(166, 166, 166, 0.6);
    }
  }

  &.My {
    //padding-left: 20px;
    align-items: flex-end;

    .ContentsArea {
      background: var(--sub-white, #fff);
      box-shadow: 0px 0px 6px 0px rgba(166, 166, 166, 0.6);
    }
  }

  .C-96ae219a {
    font-size: 10px;
    font-weight: 400;
  }

  .C-e906e752 {
    font-size: 14px;
    font-weight: 600;
  }
}
/**/
.ChatInputWrap {
  background: var(--solid-white, #fff);
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  > .Inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
}
/**/
.ChatRoomList_1 {
  > ul {
    > li {
      border-bottom: 1px solid #ebebeb;
    }
  }
}
/**/
.ChatRoomItem_1 {
  position: relative;

  .DelBtn {
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 70px;
    height: 100%;
    background-color: #303030;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
  }

  > .Inner {
    transition: all 300ms cubic-bezier(0.33, 1, 0.68, 1);
    will-change: auto;
    position: relative;
    z-index: 5;
    left: 0px;
    padding: 13px 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    height: 100%;
  }

  &.RightOpen {
    > .Inner {
      left: -70px;
    }
  }

  .C-d7025c0e {
    > img {
      border-radius: 100%;
    }
  }

  .target_name {
    font-family: 'Montserrat', sans-serif;
    color: #303030;
    font-size: 12px;
    font-weight: 600;
  }

  .type1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    height: 20px;
    padding: 0 10px;
    border-radius: 8px;
    background: var(--second-blue-light, #f2f5ff);
    color: #4168f6;
    font-size: 10px;
    font-weight: 400;
  }

  .type2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    height: 20px;
    padding: 0 10px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    border-radius: 8px;
    background: var(--primary-cultureland-red, #ff3838);
  }

  .preview {
    color: #303030;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .C-7499986e {
    color: #303030;
    font-size: 10px;
    font-weight: 400;
  }
}
/**/
.C-d61e49df {
  color: #303030;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
/**/
.C-48a464fa {
  color: #303030;
  font-size: 12px;
  font-weight: 400;
}
/**/
.NotifyViewBox_1 {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--sub-border-1, #ebebeb);
  background: var(--sub-white, #fff);
}
/**/
.Table_7 {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  color: #303030;
  font-size: 12px;
  font-weight: 400;

  > tbody {
    > tr {
      border-bottom: 1px solid #ebebeb;

      > * {
        padding-top: 19px;
        padding-bottom: 19px;
      }

      > th {
        font-weight: 600;
        text-align: left;
      }
    }
  }
}
/**/
.C-bc733ff4 {
  color: #303030;
  font-size: 12px;
  font-weight: 700;
}
/**/
.C-2bfcbe05 {
  border: 1px solid var(--primary-cultureland-red, #ff3838);
  padding: 5px 8px;
}
/**/
.C-54342972 {
  padding: 5px 10px;
  color: #4168f6;
  font-size: 10px;
  font-weight: 400;
  border-radius: 8px;
  background: #f2f5ff;
}
/**/
.C-00822b2f {
  padding: 5px 10px;
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  border-radius: 8px;
  background: var(--primary-cultureland-red, #ff3838);
}
/**/
.C-9b9728cc {
  font-size: 11px;
  color: #767676;
}
