.BannerSwiper_1 {
  position: relative;
  width: 100%;
  .swiper-slide {
    width: 88.88%;
  }
}
/**/
.ProductSwiper_1 {
  position: relative;
  padding-left: var(--contents-side-padding) !important;
  padding-right: var(--contents-side-padding) !important;
}
