<div class="SampleList">
  <div class='Badge_2'>
    Badge_2
  </div>
  <div class='Badge_2 Style1'>
    Badge_2 Style1
  </div>
  <div class='Badge_2 Style2'>
    Badge_2 Style2
  </div>
  <div class='Badge_2 Style3'>
    Badge_2 Style3
  </div>
</div>