<div class='BannerList_1'>
  <ul class="HideScroll">
    {{#LOOP 5}}
      <li>
        <div class='BannerImg'>
          <img src='https://gifpng.com/162x214/ffd4d4/ff4444' alt='' />
        </div>
      </li>
    {{/LOOP}}
  </ul>
</div>