<div class='BarcodeBox_1'>
  <article class='CenterCenter'>
    <div>
      <img src='/public/icon/2307292238.svg' alt='' />
    </div>
    <div style="margin-left:29px;">
      <div class="Txt1">오프라인 바코드 결제</div>
    </div>
  </article>
</div>