<div class='BarcodeBox_1' style="outline:3px solid #ff3838;">
  <article class='CenterCenter'>
    <div>
      <img src='/public/icon/2307292238.svg' alt='' />
    </div>
    <div style="margin-left:29px;">
      <div style='color:#303030; font-size:14px; font-weight:600;'>오프라인 바코드 결제</div>
    </div>
  </article>
</div>