<div class='FixedBox'>
  <div class='FixedShell' style='bottom:0;'>
    <div class='BottomBtnBox_1'>
      <div style="color:#303030; font-size:12px; font-weight:600; line-height:18px;">
        <div class="Color1">확정보류 기간</div>
        <div>2023-05-21 13 : 57 까지</div>
      </div>
      <button class='ButtonUi Style{{SAFE style '1'}}' data-form-hei='Md' {{#if disabled}}disabled{{/if}}>{{SAFE btn 'btn'}}</button>
    </div>
  </div>
</div>