{{#DV}}
  {{SAFE 'btn1'}}
{{/DV}}
<div class='FixedBox'>
  <div class='FixedShell' style='bottom:0;'>
    <div class='BottomBtnBox_1'>
      <div class="C-274b091b">
        <div class="Color1">확정보류 기간</div>
        <div>2023-05-21 13 : 57 까지</div>
      </div>
      <button class='ButtonUi Style1' data-form-hei='Md'>{{btn1}}</button>
    </div>
  </div>
</div>