<div class='BrandItem_1'>
  {{#if rank}}
    <script>Include('/hbs/component/ImgBox_1-a.hbs', { rank:{{rank}} });</script>
  {{else}}
    <script>Include('/hbs/component/ImgBox_1-a.hbs');</script>
  {{/if}}

  <div class='Label'>
    Label
    {{number}}
  </div>
</div>