{{#DV}}
  {{SAFE 'len' 10}}
  {{SAFE 'active' 1}}
{{/DV}}
<div class="ButtonList_3">
  {{#LOOP len}}
    <button class="{{ON @root.active}}">
      <script>Include('/hbs/component/ImgBox_1-a.hbs');</script>
      <div class='Label'>Label{{number}}</div>
    </button>
  {{/LOOP}}
</div>
