<div class='ButtonList_2'>
  {{#LOOP 9}}
    <button>
      <div class='Icon'>
        <img src="https://gifpng.com/52x52/ffd4d4/ff4444" alt=""/>
      </div>
      <div class='Label'>Label{{number}}</div>
    </button>
  {{/LOOP}}
</div>