<div class="ButtonList_1">
  {{#LOOP 10}}
    <button>
      <div class='Icon'>
        <img src="https://gifpng.com/40x40/ffd4d4/ff4444" alt=""/>
      </div>
      <div class='Label'>LABEL {{number}}</div>
    </button>
  {{/LOOP}}
</div>
