{{#if preview}}
  {{!--{{VAR this 'array' '1|2|3|4|5'}}--}}
  {{!--{{SAFE2 this 'txt1|txt2|btn1|btn2'}}--}}
{{/if}}
<div class='ButtonBox_1'>
  <ul>
    <li>
      <button>
        <div>
          <img class='Icon' src='/public/icon/2308031505_1.svg' alt='' />
        </div>
        <div class='Label'>
          구매내역
        </div>
      </button>
    </li>
    <li>
      <button>
        <div>
          <img class='Icon' src='/public/icon/2308031505_2.svg' alt='' />
        </div>
        <div class='Label'>
          판매현황
        </div>
      </button>
    </li>
    <li>
      <button>
        <div>
          <img class='Icon' src='/public/icon/2308031505_3.svg' alt='' />
        </div>
        <div class='Label'>
          관심상품
        </div>
      </button>
    </li>
  </ul>
  <ul>
    <li>
      <button>
        <div>
          <img class='Icon' src='/public/icon/2308031505_4.svg' alt='' />
        </div>
        <div class='Label'>
          신고/환불
        </div>
      </button>
    </li>
    <li>
      <button>
        <div>
          <img class='Icon' src='/public/icon/2308031505_5.svg' alt='' />
        </div>
        <div class='Label'>
          장바구니
        </div>
      </button>
    </li>
    <li>
      <button>
        <div>
          <img class='Icon' src='/public/icon/2308031505_6.svg' alt='' />
        </div>
        <div class='Label'>
          채팅
        </div>
      </button>
    </li>
  </ul>
</div>