<div class='ChantBoxWrap_1'>
  <article class='ChatBox_1 My'>
    <div class='DateArea'>
      <div class='C-96ae219a'>
        2023-07-11 09:08:45
      </div>
    </div>
    <div class='ContentsArea'>
      <div class='C-e906e752'>
        해당 상품의 환불을 요청했습니다.
      </div>
      <ul class='Ul_2' style='margin-top:16px;'>
        <li>판매자에게 환불을 요청했습니다.</li>
        <li>판매자가 응답을 하지 않는 경우 3일 뒤, 자동 환불 처리가 진행됩니다.</li>
        <li>단, 단순 변심에 의한 환불 요구는 정책상 인정되지 않으니 참고 부탁드립니다.</li>
      </ul>
    </div>
  </article>
  <article class='ChatBox_1 Other'>
    <div class='DateArea'>
      <div class='C-96ae219a'>
        2023-07-11 09:08:45
      </div>
    </div>
    <div class='ContentsArea'>
      <div class='C-e906e752'>
        Cultureland 님이 환불을 수락했습니다.
      </div>
      <ul class='Ul_2' style='margin-top:16px;'>
        <li>환불처리가 완료 되었습니다.</li>
        <li>환불된 금액은 C.point로 즉시 지급됩니다.</li>
      </ul>
    </div>
  </article>
  <article class='ChatBox_1 My'>
    <div class='DateArea'>
      <div class='C-96ae219a'>
        2023-07-11 09:08:45
      </div>
    </div>
    <div class='ContentsArea'>
      <div class='C-e906e752'>
        환불 요청 안내사항
      </div>
      <ul class='Ul_2' style='margin-top:16px;'>
        <li>단순변심에 의한 환불의 경우 해당 서비스 정책상 환불이 불가합니다.</li>
        <li>판매자가 환불 요청에 3일간 응답이 없는 경우 결제 금액이 구매자에게 자동 환불 됩니다.</li>
        <li>해당 서비스는 판매자와 구매자 상호간 거래 서비스 만 제공 하기에 법적 해석이 필요한 부분에 대해서는 개입하지 않습니다.</li>
        <li>구매자가 경찰에 신고한 경우엔 정산금액은 컬쳐랜드에서 안전하게 보관하며 이후 수사 결과에 따라 지급이 결정됩니다.</li>
      </ul>
      <div style="margin-top:25px;">
        <strong>※ 해당 내용을 확인하신 후 동의하신 경우에만 환불 요청이 진행됩니다※</strong>
      </div>
      <div style="margin-top:10px;">
        <button class="ButtonUi Style1 w-full" data-form-hei="Sm">동의합니다.</button>
      </div>
      <div style="margin-top:10px;">
        <button class="ButtonUi Style2 w-full" data-form-hei="Sm">
          동의완료
          <img src="/public/icon/2308070949.svg" alt=""/>
        </button>
      </div>
    </div>
  </article>
</div>