<ul class='Collapse_1'>
  {{#LOOP 3}}
    <li class="{{ON 0}}">
      <div class='Q'>
        <button class='CenterBetween'>
          <div>
            Collapse Head {{number}}
          </div>
          <div>
            <img class='Arrow' src='/assets/icon/2307271431.svg' alt='' />
          </div>
        </button>
      </div>
      <div class='A'>
        <div class='Inner'>
          <div>
            <p>Collapse Body</p>
            <ul class='Ul_1'>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
              <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
              <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
              <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  {{/LOOP}}
  <img onerror="initCollapse(this)" src="" alt=""/>
</ul>