<div class='CuponBox_1'>
  <div>
    <img class='Grayscale' style='margin-left:auto; margin-right:auto;' src='https://gifpng.com/200x180/ffd4d4/ff4444' alt='' />
  </div>
  <div style='border-top:1px solid #ebebeb;'>
    <div style='padding-top:20px;'>
      <img style='margin-left:auto; margin-right:auto;' src='/public/image/barcode.png' alt='' />
    </div>
  </div>
</div>