<div class='CuponBox_1'>
  <div>
    <img style='margin-left:auto; margin-right:auto;' src='https://gifpng.com/200x180/ffd4d4/ff4444' alt='' />
  </div>
  <div style="border-top:1px solid #ebebeb;">
    <script>Include('/hbs/component/InfoList_1-a.hbs');</script>
  </div>
  <div style="margin-top:30px;">
    <img style="margin-left:auto; margin-right:auto;" src="/public/image/카카오선물하기.svg" alt=""/>
  </div>
</div>