<div class='DatePicker'>
  <ul>
    {{#LOOP 5}}
      <li>
        <article class='DateItem {{ON 2}}'>
          <div class='Txt1'>9999</div>
          <div class='Txt2'>년</div>
          <div class='Txt1'>99</div>
          <div class='Txt2'>월</div>
          <div class='Txt1'>99</div>
          <div class='Txt2'>일</div>
        </article>
      </li>
    {{/LOOP}}
  </ul>
</div>