<div class='Diagram_1'>
  <div class='Wrap'>
    <div class="C-54b8efd5">
      현황 단계별 건 수를 클릭하시면
      <br />
      더 자세한 내역을 확인하실 수 있습니다.
    </div>
    <article class='CenterLeft' style="margin-top:30px;">
      <div class='Circle'>
        판매 전
      </div>
      <img src='/public/icon/2308041228.svg' alt='' />
      <div>
        <div class='CntBox'>
          <div>
            999건
          </div>
          <div>
            <img src='/public/icon/2308041342.svg' alt='' />
          </div>
        </div>
      </div>
    </article>
    <article class='Arrow'>
      <img src='/public/icon/2308041346.svg' alt='' />
    </article>
    <article class='CenterLeft'>
      <div class='Circle Style2'>
        판매 중
      </div>
      <img src='/public/icon/2308041228.svg' alt='' />
      <div>
        <div class='CntBox'>
          <div>
            999건
          </div>
          <div>
            <img src='/public/icon/2308041342.svg' alt='' />
          </div>
        </div>
      </div>
    </article>
    <article class='Arrow'>
      <img src='/public/icon/2308041346.svg' alt='' />
    </article>
    <article class='CenterLeft'>
      <div class='Circle Style3'>
        정산대기
      </div>
      <img src='/public/icon/2308041228.svg' alt='' />
      <div>
        <div class='CntBox'>
          <div>
            999건
          </div>
          <div>
            <img src='/public/icon/2308041342.svg' alt='' />
          </div>
        </div>
      </div>
    </article>
    <article class='Arrow'>
      <img src='/public/icon/2308041346.svg' alt='' />
    </article>
    <article class='CenterLeft'>
      <div class='Circle Style4'>
        정산완료
      </div>
      <img src='/public/icon/2308041228.svg' alt='' />
      <div>
        <div class='CntBox'>
          <div>
            999건
          </div>
          <div>
            <img src='/public/icon/2308041342.svg' alt='' />
          </div>
        </div>
      </div>
    </article>
  </div>
</div>