<div class='Diagram_1'>
  <div class='Wrap'>
    <article class='CenterLeft'>
      <div class='Circle'>
        판매 전
      </div>
      <img src='/public/icon/2308041228.svg' alt='' />
      <div>
        <div class='CntBox'>
          <div>
            999건
          </div>
          <div>
            <img src='/public/icon/2308041342.svg' alt='' />
          </div>
        </div>
      </div>
    </article>
    <article class='Arrow'>
      <img src='/public/icon/2308041346.svg' alt='' />
    </article>
    <article class='CenterLeft'>
      <div class='Circle'>
        판매 중
      </div>
      <img src='/public/icon/2308041228.svg' alt='' />
      <div>
        <div class='CntBox'>
          <div>
            999건
          </div>
          <div>
            <img src='/public/icon/2308041342.svg' alt='' />
          </div>
        </div>
      </div>
    </article>
    <article class='Arrow'>
      <img src='/public/icon/2308041346.svg' alt='' />
    </article>
    <article class='CenterLeft'>
      <div class='Circle Style2'>
        정산대기
      </div>
      <img src='/public/icon/2308041228.svg' alt='' />
      <div>
        <div class='CntBox'>
          <div>
            999건
          </div>
          <div>
            <img src='/public/icon/2308041342.svg' alt='' />
          </div>
        </div>
      </div>
    </article>
    <article class='Arrow'>
      <img src='/public/icon/2308041346.svg' alt='' />
    </article>
    <article class='CenterLeft'>
      <div class='Circle Style3'>
        정산완료
      </div>
      <img src='/public/icon/2308041228.svg' alt='' />
      <div>
        <div class='CntBox'>
          <div>
            999건
          </div>
          <div>
            <img src='/public/icon/2308041342.svg' alt='' />
          </div>
        </div>
      </div>
    </article>
  </div>
</div>