<div class='Diagram_2'>
  <ul>
    <div class='b-93ea1a1c'></div>
    <li>
      <article class='CenterLeft'>
        <div>
          <div class="c-d0e98f90" style='background-color:#f4f4f4; color:#303030;'>
            등록
          </div>
        </div>
        <div class='d-9e1e83c6'>
          이미지로 상품 등록
        </div>
      </article>
    </li>
    <li>
      <article class='CenterLeft'>
        <div>
          <div class='c-d0e98f90' style='background-color:#F2F5FF; color:#303030;'>
            확인
          </div>
        </div>
        <div class='d-9e1e83c6'>
          등록 된 상품 정보 확인
        </div>
      </article>
    </li>
    <li>
      <article class='CenterLeft'>
        <div>
          <div class='c-d0e98f90' style='background-color:#4168F6; color:#ffffff;'>
            판매
          </div>
        </div>
        <div class='d-9e1e83c6'>
          원하는 방법으로 판매하세요!
          <div class='d-3d03e213' style='margin-top:5px;'>
            컬쳐랜드에 판매 or 개인판매
          </div>
        </div>
      </article>
    </li>
  </ul>
</div>