<div class='ImgBox_1' style="overflow:hidden;">
  <img style='width: 100%;' src='https://gifpng.com/88x88/ffd4d4/ff4444' alt='' />
  <article class="CenterCenter" style='z-index:10; position:absolute; top:0px; left:0px; width:100%; height:100%; background-color:#F4F4F4;'>
    <span style='color:#303030; font-size:12px; font-weight:600;'>등록 불가</span>
  </article>
</div>