<div class='ImgBox_1'>
  <img style='width: 100%;' src='https://gifpng.com/88x88/ffd4d4/ff4444' alt='' />
  <article class="CenterRight" style="z-index:10; position:absolute; top:4px; right:4px;">
    <div>
      <img src='/public/icon/2308022301.svg' alt='' />
    </div>
    <div>
      <img src='/public/icon/2308022302.svg' alt='' />
    </div>
  </article>
</div>