<div class='InfoBox_2'>
  <article class='CenterBetween'>
    <div>
      <div style='color:#303030; font-size:14px; font-weight:600;'>
        입금계좌
      </div>
    </div>
    <div>
      {{!----}}
    </div>
  </article>

  <table style='margin-top:8px; text-align:right;'>
    <tbody>
      <tr>
        <th style='width:106px;'>
          입금자명
        </th>
        <td>
          홍길동
        </td>
      </tr>
      <tr>
        <th>
          컬쳐랜드 ****
        </th>
        <td>
          1원
        </td>
      </tr>
    </tbody>
  </table>
</div>