<div class='InfoBox_2'>
  <article class='CenterBetween'>
    <div>
      <div style='color:#303030; font-size:14px; font-weight:600;'>
        입금계좌
      </div>
    </div>
    <div>
      <button class='Btn_1'>
        <div>계좌 삭제</div>
        <img src='/public/icon/2307311723.svg' alt='' />
      </button>
    </div>
  </article>

  <table style='margin-top:8px;'>
    <tbody>
      <tr>
        <th style='width:106px;'>
          은행명
        </th>
        <td>
          하나은행
        </td>
      </tr>
      <tr>
        <th>
          계좌번호
        </th>
        <td>
          283****7368004
        </td>
      </tr>
      <tr>
        <th>
          예금주
        </th>
        <td>
          임태현
        </td>
      </tr>
    </tbody>
  </table>
</div>