<div class='InfoTable_1'>
  <div class="Txt1">
    생체인증 서비스
    <span class='Color1'>미사용</span>
    안내
  </div>
  <table class="Table" style="margin-top:25px;">
    <tbody>
    <tr>
      <td>컬쳐랜드 아이디</td>
      <td>taehyeon</td>
    </tr>
    <tr>
      <td>생체인증 서비스</td>
      <td>미사용</td>
    </tr>
    </tbody>
  </table>
</div>