<div class='InfoList_1'>
  <ul>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class='Txt1'>컬쳐랜드 아이디</div>
        </div>
        <div>
          <div class='Montserrat Txt2'>Cultureland</div>
        </div>
      </article>
    </li>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class='Txt1'>전환 예정 포인트</div>
        </div>
        <div>
          <div class='Montserrat Txt2'>10,000원</div>
        </div>
      </article>
    </li>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class='Txt1'>컬쳐랜드 캐쉬업</div>
        </div>
        <div>
          <div class='Montserrat Txt2'>300원</div>
        </div>
      </article>
    </li>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class='Txt4'>전환 예정 컬쳐캐쉬</div>
        </div>
        <div>
          <div class='Montserrat Txt4'>
            <span class="Color1">10,300원</span>
          </div>
        </div>
      </article>
    </li>
  </ul>
</div>