<div class='InfoBox_1'>
  <div>
    <div class="Txt1">거래건수</div>
    <div class="Txt2">20건</div>
  </div>
  <div>
    <div class="Txt1">거래금액</div>
    <div class="Txt2">80,000원</div>
  </div>
  <div>
    <div class="Txt1">불량거래</div>
    <div class="Txt2">3건</div>
  </div>
</div>