<div class='InfoList_1'>
  <ul>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class='Txt1'>출금금액</div>
        </div>
        <div>
          <div class='Montserrat Txt2'>10,000원</div>
        </div>
      </article>
    </li>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class='Txt1'>수수료</div>
        </div>
        <div>
          <div class='Montserrat Txt2'>무료</div>
        </div>
      </article>
    </li>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class='Txt1'>출금계좌</div>
        </div>
        <div>
          <div class='Montserrat Txt2'>
            <span class="TxtColor1">하나은행 283****7368004</span>
          </div>
        </div>
      </article>
    </li>
  </ul>
</div>