<div class='InfoList_1'>
  <ul>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class='Txt1'>충전한 포인트</div>
        </div>
        <div>
          <div class='Montserrat Txt2'>30,000원</div>
        </div>
      </article>
    </li>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class='Txt1'>판매 정산 포인트(출금 가능 포인트)</div>
        </div>
        <div>
          <div class='Montserrat Txt2'>
            <span class="Color1">20,000원</span>
          </div>
        </div>
      </article>
    </li>
  </ul>
</div>