<ul class="InfoBoxList_1">
  {{#LOOP 2}}
    <li>
      {{> 'module/InfoBox_3-a' }}
    </li>
    <li>
      {{> 'module/InfoBox_3-a' txt1='거래손 환불' }}
    </li>
    <li>
      {{> 'module/InfoBox_3-a' txt2='거래소 결제' }}
    </li>
    <li>
      {{> 'module/InfoBox_3-a' txt3='판매대금 지금' }}
    </li>
  {{/LOOP}}
</ul>
<div class="CenterCenter" style="margin-top: 30px">
  {{> 'module/MoreBtn_1-a' }}
</div>