<div class='InfoList_1'>
  <ul>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class="Txt5">BRAND</div>
          <div class="Txt6" style='margin-top:2px;'>3천원권</div>
        </div>
        <div>
          <img src='/public/icon/2307311401.svg' alt=''/>
        </div>
      </article>
      <div style='padding-top:20px; padding-bottom:20px;'>
        <img style='margin-left:auto; margin-right:auto;' src='/public/image/barcode.png' alt=''/>
      </div>
    </li>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class="Txt1">교환처</div>
        </div>
        <div>
          <div class="Montserrat Txt2">네네치킨</div>
        </div>
      </article>
    </li>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class="Txt1">유효기간</div>
        </div>
        <div>
          <div class="Montserrat Txt2">2023년 06월 12일</div>
        </div>
      </article>
    </li>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class="Txt1">주문번호</div>
        </div>
        <div>
          <div class="Montserrat Txt2">129384839</div>
        </div>
      </article>
    </li>
  </ul>
</div>