<div class='InfoList_1'>
  <ul>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class='Txt1'>상품명</div>
        </div>
        <div>
          <div class='Montserrat Txt2'>CU 3천원권</div>
        </div>
      </article>
    </li>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class='Txt1'>정가</div>
        </div>
        <div>
          <div class='Montserrat Txt2'>3,000원</div>
        </div>
      </article>
    </li>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class='Txt1'>구매가격</div>
        </div>
        <div>
          <div class='Montserrat Txt2'>2,890원</div>
        </div>
      </article>
      <article class='CenterBetween' style='margin-top:14px;'>
        <div>
          <div class='Txt3'>C.point</div>
        </div>
        <div>
          <div class='Montserrat Txt3'>2,890원</div>
        </div>
      </article>
    </li>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class='Txt1'>구매일자</div>
        </div>
        <div>
          <div class='Montserrat Txt2'>2023-05-17</div>
        </div>
      </article>
    </li>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class='Txt1'>유효기간</div>
        </div>
        <div>
          <div class='Montserrat Txt2'>2023-07-15</div>
        </div>
      </article>
    </li>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class='Txt1'>판매자</div>
        </div>
        <div>
          <div class='Montserrat Txt2'>Cultureland</div>
        </div>
      </article>
    </li>
  </ul>
</div>