<div class='InfoList_1'>
  <ul>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class='Txt1'>C.point</div>
        </div>
        <div>
          <div class='Montserrat Txt2'>2,000원</div>
        </div>
      </article>
    </li>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class='Txt1'>신용카드</div>
        </div>
        <div>
          <div class='Montserrat Txt2'>1,780원</div>
        </div>
      </article>
    </li>
    <li>
      <article class='CenterBetween'>
        <div>
          <div class='Txt4'>총 결제금액</div>
        </div>
        <div>
          <div class='Montserrat Txt4'>3,780원</div>
        </div>
      </article>
    </li>
  </ul>
</div>