<div class='InfoTable_2'>
  <article class='Inner CenterBetween'>
    <div class="t-9180769c">
      총 판매금액
    </div>
    <div class='C-88e87f5c Montserrat'>
      7,180원
    </div>
  </article>
</div>