<div class='Legend_1'>
  <article class='CenterLeft'>
    <article class='CenterLeft'>
      <img src='/public/icon/2308022301.svg' alt='' />
      <div style='margin-left:2px; color:#303030; font-size:12px; font-weight:400;'>
        컬쳐랜드에 판매 가능
      </div>
    </article>
    <article class='CenterLeft' style='margin-left:11px;'>
      <img src='/public/icon/2308022302.svg' alt='' />
      <div style='margin-left:2px; color:#303030; font-size:12px; font-weight:400;'>
        개인판매 가능
      </div>
    </article>
  </article>
</div>