<div class='Legend_1'>
  <article class='CenterLeft'>
    <article class='CenterLeft'>
      <img src='/public/icon/2308022301.svg' alt='' />
      <div class="t-36c113ea" style='margin-left:2px;'>
        컬쳐랜드에 판매 가능
      </div>
    </article>
    <article class='CenterLeft' style='margin-left:11px;'>
      <img src='/public/icon/2308022302.svg' alt='' />
      <div class="t-36c113ea" style='margin-left:2px;'>
        개인판매 가능
      </div>
    </article>
  </article>
</div>