<div class='ListControlBox_1'>
  <article class='CenterBetween'>
    <div>
      <label class='CenterCenter'>
        <input class='CheckBoxUi Style1' type='checkbox' data-size='Md' checked/>
        <div class='LabalUi'>전체</div>
      </label>
    </div>
    <div>
      <article class='CenterCenter'>
        <button class='Btn_1'>모두삭제</button>
        <div style='margin:0 8px; width:1px; height:10px; background-color:#e1e1e1;'></div>
        <button class='Btn_1'>모두읽음</button>
      </article>
    </div>
  </article>
</div>