<div class="NotWatchChk_1" style="z-index:9999; position:absolute; top:50px; left:20px;">
  <label class="CenterCenter">
    <input class="CheckBoxUi Style1" type="checkbox" data-size="Md" checked>
    <div class="LabalUi" style="color:white;">다시 보지 않기</div>
  </label>
</div>