<div class='PictureList_1'>
  <ul>
    <li>
      <img style='width:100%;' src='/public/icon/2308022245.svg' alt='' />
    </li>
    {{#LOOP 4}}
      <li class='Box On'>
        <img class='Chk' src='/public/icon/2308022250.svg' alt='' />
      </li>
    {{/LOOP}}
    {{#LOOP 7}}
      <li class='Box'></li>
    {{/LOOP}}
  </ul>
  <div class='t-ca64eda8' style="margin-top: 40px;">
    선택된 항목 표시
    <span class='Color1'>(4개)</span>
  </div>
</div>