<div class='PointBox_3 Border'>
  <article class='CenterBetween'>
    <div>
      <div style='position:relative;'>
        <button class='Btn_1'>
          <strong class='TxtColor1'>보유 C.point</strong>
          <img src='/public/icon/2307291136.svg' alt='' />
        </button>
      </div>
      <div class='Txt1 Montserrat' style='margin-top:8px;'>50,000P</div>
    </div>
    <div>
      <button class='ButtonUi Style1' data-form-hei='Md' disabled>
        <img src='/public/icon/2307292219.svg' alt='' />
        충전
      </button>
    </div>
  </article>
  <article style='margin-top:24px; display:grid; grid-template-columns:repeat(2, minmax(0, 1fr)); gap:12px;'>
    <div>
      <div class='Box'>
        <article class='CenterCenter' style='height:68px;'>
          <img src='/public/icon/2307292224.svg' alt='' />
        </article>
      </div>
      <div class='BoxLabel'>
        <article class='CenterCenter' style='gap:4px;'>
          <div class='Txt2'>출금</div>
          <button class='Btn_3'>
            현금
          </button>
        </article>
      </div>
    </div>
    <div>
      <div class='Box'>
        <article class='CenterCenter' style='height:68px;'>
          <img src='/public/icon/2308011028.svg' alt='' />
        </article>
      </div>
      <div class='BoxLabel'>
        <article class='CenterCenter' style='gap:4px;'>
          <div class="Txt2">전환</div>
          <button class='Btn_3'>
            컬쳐캐쉬
          </button>
        </article>
      </div>
    </div>
  </article>
</div>