<div class='PointBox_3 Border' style="">
  <article class='CenterBetween'>
    <div>
      <div style="position:relative;">
        <button class='Btn_1'>
          <strong class='TxtColor1'>보유 C.point</strong>
          <img class='[.On>&]:hidden' src='/public/icon/2307291136.svg' alt=''/>
          <img class='hidden [.On>&]:block' src='/public/icon/2307291136_on.svg' alt=''/>
        </button>
      </div>
      <div class='Montserrat' style='margin-top:8px; color:#303030; font-size:20px; font-weight:700; line-height:20px;'>50,000P</div>
    </div>
    <div>
      <button class='ButtonUi Style1' data-form-hei='Md' disabled>
        <img src='/public/icon/2307292219.svg' alt=''/>
        충전
      </button>
    </div>
  </article>
  <article style='margin-top:24px; display:grid; grid-template-columns:repeat(2, minmax(0, 1fr)); gap:12px;'>
    <div>
      <div style='border-radius: 8px 8px 0px 0px; border-top: 1px solid #EBEBEB; border-right: 1px solid #EBEBEB; border-left: 1px solid #EBEBEB; background: #F4F4F4;'>
        <article class='CenterCenter' style='height:68px;'>
          <img src='/public/icon/2307292224.svg' alt=''/>
        </article>
      </div>
      <div style='text-align:center; border:1px solid #EBEBEB; border-radius: 0px 0px 8px 8px; padding-top:8px; padding-bottom:8px;'>
        <article class='CenterCenter' style='gap:4px;'>
          <div style='color:#303030; font-size:14px; font-weight:500;'>출금</div>
          <button class='Btn_3'>
            현금
          </button>
        </article>
      </div>
    </div>
    <div>
      <div style='border-radius: 8px 8px 0px 0px; border-top: 1px solid #EBEBEB; border-right: 1px solid #EBEBEB; border-left: 1px solid #EBEBEB; background: #F4F4F4;'>
        <article class='CenterCenter' style='height:68px;'>
          <img src='/public/icon/2308011028.svg' alt=''/>
        </article>
      </div>
      <div style='text-align:center; border:1px solid #EBEBEB; border-radius: 0px 0px 8px 8px; padding-top:8px; padding-bottom:8px;'>
        <article class='CenterCenter' style='gap:4px;'>
          <div style='color:#303030; font-size:14px; font-weight:500;'>전환</div>
          <button class='Btn_3'>
            컬쳐캐쉬
          </button>
        </article>
      </div>
    </div>
  </article>
</div>