<div class='PointBox_1'>
  <article class='CenterBetween'>
    <div>
      <button class='Btn_1 On'>
        C.Point
        <img class='[.On>&]:hidden' src='/public/icon/2307171341.svg' alt='' />
        <img class='hidden [.On>&]:block' src='/public/icon/2307171341_on.svg' alt='' />
      </button>
    </div>
    <div>
      <button class='ButtonUi Style2' data-form-hei='Sm' style='min-width:80px;'>충전하기</button>
    </div>
  </article>
  <article class='CenterBetween' style='margin-top:16px;'>
    <div>
      <div class='Txt1'>
        보유포인트
      </div>
    </div>
    <div>
      <div class='Txt2 Montserrat'>
        50,000원
      </div>
    </div>
  </article>
  <div class='Txt1' style='margin-top:28px;'>
    사용 포인트
  </div>
  <article class='CenterLeft' style='margin-top:8px;'>
    <div style='flex:1; margin-right:10px;'>
      <div class='InputUi Style1 w-full' data-form-hei='Sm'>
        <input type='text' value='3,000' placeholder='placeholder' />
      </div>
    </div>
    <div style='min-width:80px;'>
      <button class='ButtonUi Style4 w-full' data-form-hei='Sm'>전액사용</button>
    </div>
  </article>
</div>