<div class='PointBarcodeBox_1'>
  <div style='text-align:center;'>
    <div style='color:#303030; font-size:16px; font-weight:600;'>
      사용 가능 포인트
    </div>
    <div class='Montserrat' style='margin-top:10px; color:#ff3838; font-size:20px; font-weight:700;'>
      50,000P
    </div>
  </div>
  <div style='margin-top:16px; width:250px; margin-left:auto; margin-right:auto;'>
    <article class='CenterBetween'>
      <div>
        <button class='Btn_1'>
          <div>15:00</div>
          <img src='/public/icon/2307301859.svg' alt='' />
        </button>
      </div>
      <div>
        <button class='Btn_1'>
          <div>복사하기</div>
          <img src='/public/icon/2307301903.svg' alt='' />
        </button>
      </div>
    </article>
    <div style='margin-top:10px;'>
      <img style='margin-left:auto; margin-right:auto;' src='/public/icon/2307301915.svg' alt='' />
    </div>
  </div>
  <article class='CenterCenter' style='margin-top:10px; gap:16px; color:#767676; font-size:12px; font-weight:600;'>
    <div>9999</div>
    <div>9999</div>
    <div>9999</div>
    <div>9999</div>
  </article>
</div>