<div class='PointBox_3'>
  <article class='CenterBetween'>
    <div>
      <div style="position:relative;">
        <button class='Btn_1 On'>
          <strong class='TxtColor1'>보유 C.point</strong>
          <img class='[.On>&]:hidden' src='/public/icon/2307291136.svg' alt=''/>
          <img class='hidden [.On>&]:block' src='/public/icon/2307291136_on.svg' alt=''/>
        </button>
        <div style="z-index:10; position:absolute; top:22px; left:45px;">
{{!--          <script>Include('/hbs/layer/ToolTip_1-d.hbs');</script>--}}
        </div>
      </div>
      <div class='Txt1 Montserrat' style='margin-top:8px;'>50,000P</div>
    </div>
    <div>
      <button class='ButtonUi Style1' data-form-hei='Md'>
        <img src='/public/icon/2307292219.svg' alt=''/>
        충전
      </button>
    </div>
  </article>
  <article style='margin-top:24px; display:grid; grid-template-columns:repeat(2, minmax(0, 1fr)); gap:12px;'>
    <div>
      <div class="Box">
        <article class='CenterCenter' style='height:68px;'>
          <img src='/public/icon/2307292224.svg' alt=''/>
        </article>
      </div>
      <div class="BoxLabel">
        <article class='CenterCenter' style='gap:4px;'>
          <div class="Txt2">출금</div>
          <button class='Btn_3 Style1'>
            현금
          </button>
        </article>
      </div>
    </div>
    <div>
      <div class="Box">
        <article class='CenterCenter' style='height:68px;'>
          <img src='/public/icon/2307292225.svg' alt=''/>
        </article>
      </div>
      <div class="BoxLabel">
        <article class='CenterCenter' style='gap:4px;'>
          <div class="Txt2">전환</div>
          <button class='Btn_3 Style2'>
            컬쳐캐쉬
          </button>
        </article>
      </div>
    </div>
  </article>
</div>