<div class='PointBox_4'>
  <article class='Head CenterBetween'>
    <div>
      <div style="position:relative;">
        <button class='CenterCenter'>
          <div class="C-fdb80a20">사용가능금액</div>
          <div>
            <img src='/public/icon/2308031513.svg' alt=''/>
          </div>
        </button>
        <div style="z-index:10; position:absolute; top:25px; left:43px;">
          <script>Include('/hbs/layer/ToolTip_1-g.hbs');</script>
        </div>
      </div>
      <div class='C-194ac271 Montserrat' style='margin-top:6px;'>
        50,000P
      </div>
    </div>
    <div>
      <button class='ButtonUi Style2' data-form-hei='Md'>
        <img src='/public/icon/2308031514.svg' alt=''/>
        지갑
      </button>
    </div>
  </article>
  <article class="Body">
    <table class='Table_5'>
      <tbody>
      <tr>
        <th>컬쳐캐쉬</th>
        <td>30,000원</td>
      </tr>
      <tr>
        <th>C.point</th>
        <td>50,000원</td>
      </tr>
      </tbody>
    </table>
  </article>

</div>