<div class='ProductInfo_1'>
  <div class="Txt1">Lorem Ipsum</div>
  <div class='Txt2 w-full line-clamp-1' style='margin-top: 4px;'>
    Lorem Ipsum is simply.
  </div>
  <article class='CenterLeft' style='margin-top: 13px'>
    <div class='Montserrat Txt3'>
      103,800원
    </div>
    <div class='Montserrat Txt4' style='margin-left: 4px;'>
      15.6%
    </div>
    <img style='width:6px;' src='/public/icon/2307181513.svg' alt='' />
  </article>
  <div class='Montserrat Txt5' style='margin-top: 7px;'>4,500원</div>
</div>