<ul class='ProductList_1'>
  {{#LOOP 10}}
    <li>
      <article class="CenterLeft">
        <div>
          <script>Include('/hbs/component/ImgBox_1-a.hbs',{like:true, new:true});</script>
        </div>
        <div style="margin-left:20px;">
          <script>Include('/hbs/component/ProductInfo_1-c.hbs');</script>
        </div>
      </article>
    </li>
  {{/LOOP}}
</ul>
<script>Include('/hbs/component/MoreBtn_1-a.hbs');</script>