<div class="ProductItem_5">
  <article class="CenterRight">
    <button>
      <img src="/public/icon/2308031014.svg" alt=""/>
    </button>
  </article>
  <article class="CenterLeft">
    <div style="padding-right:17px;">
      <div style="position:relative;">
        {{> 'module/ImgBox_1-b' }}
      </div>
    </div>
    <div>
      <div class="Txt1">교촌치킨</div>
      <div class="Txt2 Montserrat" style="margin-top:10px;">
        후라이드치킨+콜라 1.25L
      </div>
      <div class="Txt3 Montserrat" style="margin-top:4px;">
        컬쳐랜드 매입가: 3,590원
      </div>
      <div class="Txt4 Montserrat" style="margin-top:10px;">
        쿠폰번호 : 9891463531813726
      </div>
      <div class="Txt5" style="margin-top:10px;">
        유효기간 : <span class="Montserrat">2023-05-17</span>
      </div>
    </div>
  </article>
  <article class="CenterCenter" style="margin-top:20px; gap:6px;">
    <button class='Btn_6' style='flex:1;'>
      <div>컬쳐랜드에 판매</div>
      <img class='[.On>&]:hidden [[disabled]>&]:hidden' src='/public/icon/2308030959.svg' alt='' />
      <img class='hidden [.On>&]:block' src='/public/icon/2308031009.svg' alt=''/>
      <img class="hidden [[disabled]>&]:block" src="/public/icon/2308031012.svg" alt=""/>
    </button>
    <button class='Btn_6' style='flex:1;'>
      <div>개인 판매</div>
      <img class='[.On>&]:hidden [[disabled]>&]:hidden' src='/public/icon/2308030959.svg' alt='' />
      <img class='hidden [.On>&]:block' src='/public/icon/2308031009.svg' alt=''/>
      <img class="hidden [[disabled]>&]:block" src="/public/icon/2308031012.svg" alt=""/>
    </button>
  </article>
</div>
