<div class="ProductList_4">
  <ul>
    <li>
      {{> 'module/ProductItem_5-a' }}
    </li>
    <li>
      {{> 'module/ProductItem_5-b' }}
    </li>
    <li>
      {{> 'module/ProductItem_5-c' }}
    </li>
    <li>
      {{> 'module/ProductItem_5-d' }}
    </li>
    <li>
      {{> 'module/ProductItem_5-e' }}
    </li>
    <li>
      {{> 'module/ProductItem_5-f' }}
    </li>
  </ul>
</div>

