<div class='ProductList_1'>
  <ul>
    <li>
      <article style='display:flex; align-items:center;'>
        <div>
          <script>Include('/hbs/component/ImgBox_1-a.hbs', {like:true});</script>
        </div>
        <div style='flex:1; margin-left:20px;'>
          <script>Include('/hbs/component/ProductInfo_1-c.hbs');</script>
        </div>
      </article>
    </li>
    <li>
      <article style='display:flex; align-items:center;'>
        <div>
          <script>Include('/hbs/component/ImgBox_1-a.hbs');</script>
        </div>
        <div style='flex:1; margin-left:20px;'>
          <script>Include('/hbs/component/ProductInfo_1-c.hbs');</script>
        </div>
      </article>
    </li>
    <li>
      <article style='display:flex; align-items:center;'>
        <div>
          <script>Include('/hbs/component/ImgBox_1-a.hbs');</script>
        </div>
        <div style='flex:1; margin-left:20px;'>
          <script>Include('/hbs/component/ProductInfo_1-e.hbs');</script>
        </div>
      </article>
    </li>
  </ul>
  <script>Include('/hbs/component/MoreBtn_1-a.hbs');</script>
</div>