<div class='ProductItem_5'>
  <article class='CenterRight'>
    <button>
      <img src='/public/icon/2308031014.svg' alt='' />
    </button>
  </article>
  <article class='CenterLeft'>
    <div style='padding-right:17px;'>
      <div style='position:relative;'>
        <script>Include('/hbs/component/ImgBox_1-a.hbs', {c:true, p:true});</script>
      </div>
    </div>
    <div>
      <script>Include('/hbs/component/ProductInfo_1-f.hbs');</script>
    </div>
  </article>
  <article class='CenterCenter' style='margin-top:20px; gap:6px;'>
    <button class='Btn_6' style='flex:1;'>
      <div>컬쳐랜드에 판매</div>
      <img class='[.On>&]:hidden [[disabled]>&]:hidden' src='/public/icon/2308030959.svg' alt='' />
      <img class='hidden [.On>&]:block' src='/public/icon/2308031009.svg' alt='' />
      <img class='hidden [[disabled]>&]:block' src='/public/icon/2308031012.svg' alt='' />
    </button>
    <button class='Btn_6' style='flex:1;'>
      <div>개인 판매</div>
      <img class='[.On>&]:hidden [[disabled]>&]:hidden' src='/public/icon/2308030959.svg' alt='' />
      <img class='hidden [.On>&]:block' src='/public/icon/2308031009.svg' alt='' />
      <img class='hidden [[disabled]>&]:block' src='/public/icon/2308031012.svg' alt='' />
    </button>
  </article>
</div>