<div class="ProductList_3">
  <ul class="space-y-[8px]">
    <li>
      {{> 'module/ProductItem_3-b' txt1='컬쳐랜드에 판매' }}
    </li>
    <li>
      {{> 'module/ProductItem_3-b' txt2='개인판매' }}
    </li>
  </ul>
</div>

