<div class="ProductItem_4">
  <article class="CenterLeft">
    <div style="margin-right:20px;">
      <script>Include('/hbs/component/ImgBox_1-a.hbs');</script>
    </div>
    <div>
      <script>Include('/hbs/component/ProductInfo_1-d.hbs');</script>
    </div>
  </article>
</div>
