<div class="ProductInfoBox_1">
  <article class="CenterBetween">
    <div>
      <script>Include('/hbs/component/ProductInfo_1-b.hbs');</script>
    </div>
    <div>
      {{!--<img style="width:40px;" src="/public/icon/2307231115.svg" alt=""/>--}}
      <img style="width:40px;" src="/public/icon/2307231115_on.svg" alt=""/>
    </div>
  </article>
</div>
