<div class='ProductBorderList_1'>
  <ul>
    <li>
      <script>Include('/hbs/component/PrdItem_1-a.hbs', {centered:true, brand_name_xs:'아웃백', product_name_2:'기프트 카드 3만원권', txt1:'재고없음'});</script>
    </li>
    <li>
      <script>Include('/hbs/component/PrdItem_1-a.hbs', {centered:true, like:true, brand_name_xs:'아웃백', product_name_2:'기프트 카드 3만원권', price_set:true});</script>
    </li>
  </ul>
  <script>Include('/hbs/component/MoreBtn_1-a.hbs');</script>
</div>