<div class="ProductItem_5">
  <article class="CenterRight">
    <button>
      <img src="/public/icon/2308031014.svg" alt=""/>
    </button>
  </article>
  <article class="CenterLeft" style="align-items:stretch">
    <div style="padding-right:17px;">
      <div style="position:relative;">
        <script>Include('/hbs/component/ImgBox_1-a.hbs', {noadd:'판매등록 불가'});</script>
      </div>
    </div>
    <div>
      <div class="t-3fb4a4ed">
        <p>상품정보를 확인할 수 없어</p>
        <p>판매등록이 불가합니다.</p>
        <p>직접 판매 등록을 진행해주세요.</p>
      </div>
    </div>
  </article>
</div>
