<div class="ProductItem_5">
  <article class="CenterRight">
    <button>
      <img src="/public/icon/2308031014.svg" alt=""/>
    </button>
  </article>
  <article class="CenterLeft">
    <div style="padding-right:17px;">
      <div style="position:relative;">
        {{> 'module/ImgBox_1-e' }}
      </div>
    </div>
    <div>
      <div style="color:#FF3838; font-size:12px; font-weight:600; line-height:16px;">
        상품정보를 확인할 수 없어
        <br/>
        판매등록이 불가합니다.
        <br/>
        직접 판매 등록을 진행해주세요.
      </div>
    </div>
  </article>
</div>
