<div class="ProductItem_1">
  <div style="position: relative">
    <script>Include('/hbs/component/ImgBox_1-a.hbs');</script>
  </div>
  <div style="margin-top: 12px">
    <script>Include('/hbs/component/ProductInfo_1-a.hbs');</script>
  </div>
</div>
