<div class='ProductInfo_1'>
  <div class='Txt1-1'>
    Lorem Ipsum
  </div>
  <div class='Txt2-1 w-full line-clamp-1' style='margin-top: 4px;'>
    Lorem Ipsum is simply.
  </div>
  <article class='CenterLeft' style='margin-top: 14px; gap:4px;'>
    <div class='Montserrat Txt3-1'>
      99,999원
    </div>
    <div class='Montserrat Txt5-1'>
      4,500원
    </div>
    <div class='Montserrat Txt4-1'>
      15.6%
    </div>
    <img style='width:6px;' src='/public/icon/2307181513.svg' alt='' />
  </article>
</div>