<div class='ProductItem_5'>
  <article class='CenterRight'>
    <button>
      <img src='/public/icon/2308031014.svg' alt='' />
    </button>
  </article>
  <article class='CenterLeft'>
    <div style='padding-right:17px;'>
      <div style='position:relative;'>
        <script>Include('/hbs/component/ImgBox_1-a.hbs', {nosell:true});</script>
      </div>
    </div>
    <div>
      <script>Include('/hbs/component/ProductInfo_1-f.hbs');</script>
    </div>
  </article>
</div>