<div class="ProductList_3">
  <ul>
    <li>
      <script>Include('/hbs/component/ProductItem_3-a.hbs',{ txt10:'환불요청', btn3:'상세보기' });</script>
    </li>
    <li>
      <script>Include('/hbs/component/ProductItem_3-a.hbs',{ txt11:'환불 요청 취소', btn3:'상세보기' });</script>
    </li>
    <li>
      <script>Include('/hbs/component/ProductItem_3-a.hbs',{ txt12:'환불수락', btn3:'상세보기' });</script>
    </li>
    <li>
      <script>Include('/hbs/component/ProductItem_3-a.hbs',{ txt10:'신고 문의 중', btn3:'상세보기' });</script>
    </li>
    <li>
      <script>Include('/hbs/component/ProductItem_3-a.hbs',{ txt12:'답변완료', btn3:'상세보기' });</script>
    </li>
  </ul>
  <script>Include('/hbs/component/MoreBtn_1-a.hbs');</script>
</div>