<div class='ProductList_3'>
  <ul class='space-y-[8px]'>
    <li>
      <script>Include('/hbs/component/ProductItem_3-a.hbs', {txt1:'사용가능'});</script>
    </li>
    <li>
      <script>Include('/hbs/component/ProductItem_3-a.hbs', {txt2:'기간만료'});</script>
    </li>
    <li>
      <script>Include('/hbs/component/ProductItem_3-a.hbs', {txt3:'사용만료'});</script>
    </li>
  </ul>
  <script>Include('/hbs/component/MoreBtn_1-a.hbs');</script>
</div>