<div class='ProductList_1'>
  <ul>
    {{#LOOP 10}}
      <li>
        <article style='display:flex; align-items:stretch; gap:20px;'>
          <div>
            <div style='position:relative;'>
              <script>Include('/hbs/component/ImgBox_1-a.hbs', {new:true,like:true});</script>
            </div>
          </div>
          <div style='flex:1;'>
            <article style='display:flex; align-items:center; gap:0px; height:100%;'>
              <script>Include('/hbs/component/ProductInfo_1-c.hbs');</script>
            </article>
          </div>
          <div style='height:100%;'>
            <button>
              <img src='/public/icon/2307251357.svg' alt='' />
            </button>
          </div>
        </article>
      </li>
    {{/LOOP}}
  </ul>
  <script>Include('/hbs/component/MoreBtn_1-a.hbs');</script>
</div>