<div class='ProductInfo_1'>
  <div class='Txt2-1'>
    Lorem Ipsum
  </div>
  <div class='Txt2-2 Montserrat' style='margin-top:10px;'>
    Dummy text of the
  </div>
  <div class='Txt4-2 Montserrat' style='margin-top:4px;'>
    Lorem Ipsum has
  </div>
  <div class='Txt3-2 Montserrat' style='margin-top:10px;'>
    Conta : 9891463531813726
  </div>
  <div class='Txt6' style='margin-top:10px;'>
    ㅇㅇ기간 :
    <span class='Montserrat'>2023-05-17</span>
  </div>
</div>