<div class='ProductInfo_1'>
  <div class="Txt1">
    Lorem Ipsum
  </div>
  <div class='Txt2 w-full line-clamp-1' style='margin-top: 4px;'>
    Lorem Ipsum is simply.
  </div>
  <div class="Montserrat Txt7" style="margin-top:10px;">
    재고없음
  </div>
</div>