<div class="ProductList_3">
  <ul>
    <li>
      <script>Include('/hbs/component/ProductItem_3-a.hbs', {txt4:'컬쳐랜드에 판매'});</script>
    </li>
    <li>
      <script>Include('/hbs/component/ProductItem_3-a.hbs', {txt5:'개인판매'});</script>
    </li>
  </ul>
</div>

