<div class='ProductList_4'>
  <ul>
    <li>
      <script>Include('/hbs/component/ProductItem_5-a.hbs');</script>
    </li>
    <li>
      <script>Include('/hbs/component/ProductItem_5-b.hbs');</script>
    </li>
    <li>
      <script>Include('/hbs/component/ProductItem_5-c.hbs');</script>
    </li>
    <li>
      <script>Include('/hbs/component/ProductItem_5-d.hbs');</script>
    </li>
    <li>
      <script>Include('/hbs/component/ProductItem_5-e.hbs');</script>
    </li>
  </ul>
</div>