<div class="ProductList_5">
  <ul>
    <li>
      {{> 'module/ProductItem_6-a' }}
    </li>
    <li>
      {{> 'module/ProductItem_6-b' }}
    </li>
    <li>
      {{> 'module/ProductItem_6-c' }}
    </li>
  </ul>
</div>
<div style="margin-top:16px;">
  {{> 'module/MoreBtn_1-a' }}
</div>