<div class='ProductLink_1'>
  <article class='CenterLeft'>
    <div>
      <div>
        <img src='https://gifpng.com/55x55/ffd4d4/ff4444' alt='' />
      </div>
    </div>
    <div style="margin-left:1px; flex:1;">
      <div class="C-afc2b9b6">스타벅스</div>
      <div class="C-4b9074d2" style="margin-top:4px;">카페아메리카노 T</div>
      <div class="C-2c76d0f5">판매가 <strong>26,400원</strong></div>
    </div>
    <div style="min-width:40px;">
      <img src="/public/icon/2308062256.svg" alt=""/>
    </div>
  </article>
</div>