<div class="ProductItem_6">
  <article class="CenterRight">
    <div style="color:#FF3838; font-size:12px; font-weight:600;">
      사용가능
    </div>
  </article>
  <article class="CenterLeft" style="align-items:flex-start;">
    <div style="padding-right:17px;">
      <div style="position:relative;">
        {{> 'module/ImgBox_1-a' }}
      </div>
    </div>
    <div>
      <div style="color:#303030; font-size:14px; font-weight:600; line-height:16px">GS25</div>
      <div class="Montserrat" style="margin-top:10px; color:#303030; font-size:12px; font-weight:500; line-height:18px;">CU 3천원권</div>
      <div class="CenterLeft" style="margin-top:4px;">
        <div class="Montserrat" style="color:#FF3838; font-size:12px; font-weight:600;">
          2,800원
        </div>
        <div class="Montserrat" style="margin-left:4px; color:#a6a6a6; font-size:12px; font-weight:400; text-decoration:line-through;">
          3,000원
        </div>
      </div>
      <div class="Montserrat" style="margin-top:10px; color:#303030; font-size:12px; font-weight:600;">쿠폰번호 : 9891463531813726</div>
      <div style="margin-top:10px; color:#a6a6a6; font-size:12px; font-weight:400; line-height:16px;">
        <p>구매일시 : <span class="Montserrat">2023-05-17 17:37</span></p>
        <p>유효기간 : <span class="Montserrat">2023-05-17</span></p>
      </div>
    </div>
  </article>
</div>
