<div class="ProductList_3">
  <ul class="space-y-[8px]">
    <li>
      {{> 'module/ProductItem_3-d' txt3='상품 등록중' }}
    </li>
    <li>
      {{> 'module/ProductItem_3-d' txt5='정산완료' }}
    </li>
    <li>
      {{> 'module/ProductItem_3-d' txt5='정산완료' txt6='우수회원 즉시정산' }}
    </li>
    <li>
      {{> 'module/ProductItem_3-d' txt4='판매불가' }}
    </li>
  </ul>
</div>
<div class="CenterCenter" style="margin-top: 30px">
  {{> 'module/MoreBtn_1-a' }}
</div>