<div class="ProductList_2">
  <ul>
    {{#LOOP 2}}
      <li>
        <script>Include('/hbs/component/ProductItem_2-a.hbs', {dday:true});</script>
      </li>
    {{/LOOP}}
    {{#LOOP 2}}
      <li>
        <script>Include('/hbs/component/ProductItem_2-a.hbs', {grayscale:true});</script>
      </li>
    {{/LOOP}}
  </ul>
  <script>Include('/hbs/component/MoreBtn_1-a.hbs');</script>
</div>

