<div class="ProductItem_5">
  <article class="CenterRight">
    <button>
      <img src="/public/icon/2308031014.svg" alt=""/>
    </button>
  </article>
  <article class="CenterLeft">
    <div style="padding-right:17px;">
      <div style="position:relative;">
        {{> 'module/ImgBox_1-c' }}
      </div>
    </div>
    <div>
      <div style="color:#303030; font-size:14px; font-weight:600; line-height:16px">교촌치킨</div>
      <div class="Montserrat" style="margin-top:10px; color:#303030; font-size:12px; font-weight:500; line-height:18px;">후라이드치킨+콜라 <strong>1.25L</strong></div>
      <div class="Montserrat" style="margin-top:4px; color:#FF3838; font-size:12px; font-weight:600;">컬쳐랜드 매입가: 3,590원</div>
      <div class="Montserrat" style="margin-top:10px; color:#303030; font-size:12px; font-weight:600;">쿠폰번호 : 9891463531813726</div>
      <div style="margin-top:10px; color:#a6a6a6; font-size:12px; font-weight:400; line-height:20px;">유효기간 : <span class="Montserrat">2023-05-17</span></div>
    </div>
  </article>
</div>
