<div class="ProductItem_2">
  <article class="CenterLeft">
    <div style="padding-right:17px;">
      <div style="position:relative;">
        <script>Include('/hbs/component/ImgBox_1-a.hbs', { dday:{{SAFE2 dday false}}, grayscale:{{SAFE2 grayscale false}} });</script>
      </div>
    </div>
    <div>
      <div class="Txt1" style="">교촌치킨</div>
      <div class="Txt2 Montserrat" style="margin-top:10px;">후라이드치킨+콜라 <strong>1.25L</strong></div>
      <article class="CenterLeft" style="margin-top:4px; gap:4px;">
        <div class="Txt3 Montserrat">2,800원</div>
        <div class="Txt4 Montserrat">3,000원</div>
      </article>
      <div class="Txt5" style="margin-top:10px;">
        구매일시 : <span class="Montserrat">2023-05-17 17:37</span>
      </div>
      <div class="Txt5" style="margin-top:8px;">
        유효기간 : <span class="Montserrat">2023-05-17</span>
      </div>
    </div>
  </article>
  <article class="CenterCenter" style="margin-top:10px;">
    <button class="ButtonUi Style4" data-form-hei="Xs" style="width: 100%">쿠폰상세</button>
  </article>
</div>
