<div class='ProfileBox_1'>
  <article class='CenterBetween'>
    <div style='flex:1;'>
      <div class='Txt1 Montserrat'>qwer1234</div>
    </div>
    <div style='position:relative;'>
      <div class="Thumb">
        <img style='width:100%; height:100%; object-fit:cover;' src='/public/image/profile_img.svg' alt='' />
      </div>
      <button style='z-index:10; position:absolute; bottom:-10px; left:-10px;'>
        <img src='/public/icon/2308031450.svg' alt='' />
      </button>
    </div>
  </article>
</div>