{{#DV}}
  {{!--{{SAFE 'txt1'}}--}}
  {{SAFE 'len' 3}}
{{/DV}}
<div class='RadioGroup_3'>
  {{#LOOP len}}
    <button class="ButtonUi Style4 {{ON 0 'On2'}}" data-form-hei="Sm">
      Button
    </button>
  {{/LOOP}}
</div>
