<div class='ScrollTabBar_1'>
  <div class='HScrollGradientBox_1'>
    <div class='Track'>
      <div class='TabBtns'>
        {{#LOOP 10}}
          <button class="{{ON 0}}">
            {{#if (IF index '==' 1)}}
              <img src="/public/icon/2307170959.svg" alt=""/>
            {{/if}}
            Button {{number}}
          </button>
        {{/LOOP}}
      </div>
    </div>
    <script>initHScrollGradientBox();</script>
  </div>
</div>