<div class="SearchBox_1">
  <div style="flex-grow: 1">
    <input value="{{value}}" class="Inp" type="text" placeholder="{{placeholder}}"/>
  </div>
  <div>
    <button class="CenterCenter DelBtn">
      <img src="/public/icon/2307091854.svg" alt=""/>
    </button>
    <button class="CenterCenter SearchBtn">
      <div style="width: 30px;">
        <img src="/public/icon/2307091851.svg" alt=""/>
      </div>
    </button>
  </div>
</div>