{{#if preview}}
{{!--{{VAR this 'array' '1|2|3|4|5'}}--}}
{{!--{{SAFE2 this 'txt1|txt2|btn1|btn2'}}--}}
{{/if}}
<div class="StepBox_1">
  <article class="CenterCenter">
    <div class="Title1">
      STEP {{step}}
    </div>
  </article>
  {{> @partial-block }}
</div>
