<table class="Table_3">
  <colgroup>
    <col>
  </colgroup>
  <thead>
  <tr>
    <th></th>
    <th>오늘</th>
    <th>이번 달</th>
    <th>올해</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th class="Color1">판매한 상품 수</th>
    <td>3건</td>
    <td>3건</td>
    <td>3건</td>
  </tr>
  <tr>
    <th class="Color1">총 판매 금액</th>
    <td>18,900원</td>
    <td>18,900원</td>
    <td>18,900원</td>
  </tr>
  </tbody>
</table>