<table class="Table_3">
  <colgroup>
    <col style="width:68px;">
  </colgroup>
  <thead>
  <tr>
    <th></th>
    <th>
      <span class="Color1">컬쳐랜드에 판매</span>
    </th>
    <th>
      <span class="Color2">개인판매</span>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>판매방식</th>
    <td>
      컬쳐랜드에서
      <br/>
      즉시 매입
    </td>
    <td>
      다른 구매자에게
      <br/>
      직접 판매
    </td>
  </tr>
  <tr>
    <th>정산금액</th>
    <td>
      컬쳐랜드가 정한
      <br/>
      매입가로 판매 가능
    </td>
    <td>
      판매 금액
      <br/>
      직접 설정 가능
    </td>
  </tr>
  <tr>
    <th>정산시기</th>
    <td>
      컬쳐랜드에서
      <br/>
      매입 후 정산
    </td>
    <td>
      구매자가 구매
      <br/>
      확정 시 정산
    </td>
  </tr>
  </tbody>
</table>