<table class="Table_7">
  <colgroup>
    <col style="width:75px;">
  </colgroup>
  <tbody>
  <tr>
    <th>구매일시</th>
    <td>2023-05-17 17:38</td>
  </tr>
  <tr>
    <th>신고일시</th>
    <td>2023-05-17 17:38</td>
  </tr>
  <tr>
    <th>결제금액</th>
    <td>2,800원</td>
  </tr>
  <tr>
    <th>신고사유</th>
    <td><div class="Color1">타인 사용 및 취소</div></td>
  </tr>
  </tbody>
</table>