<table class='Table_6'>
  <tbody>
    <tr>
      <th>
        출금계좌
      </th>
      <td>
        하나 283****73768004
      </td>
    </tr>
    <tr>
      <th>
        출금금액
      </th>
      <td>
        5,000원
      </td>
    </tr>
  </tbody>
</table>