<table class="Table_2">
  <tbody>
  <tr>
    <th>출금금액</th>
    <td>10,000원</td>
  </tr>
  <tr>
    <th>수수료</th>
    <td>무료</td>
  </tr>
  <tr>
    <th>출금계좌</th>
    <td>하나은행  283****7368004</td>
  </tr>
  <tr>
    <th>예금주</th>
    <td>임태현</td>
  </tr>
  </tbody>
</table>