<table class='Table_7'>
  <colgroup>
    <col style='width:75px;' />
  </colgroup>
  <tbody>
    <tr>
      <th>구매일시</th>
      <td>2023-05-17 17:38</td>
    </tr>
    <tr>
      <th>신고일시</th>
      <td>2023-05-17 17:38</td>
    </tr>
    <tr>
      <th>결제금액</th>
      <td>2,800원</td>
    </tr>
    <tr>
      <th>신고사유</th>
      <td><div class='Color1'>타인 사용 및 취소</div></td>
    </tr>
    <tr>
      <th>불가사유</th>
      <td><div class='Color1'>요청기한 만료</div></td>
    </tr>
    <tr>
      <th colspan="2"><span class="Color1">신고 문의중</span></th>
    </tr>
    <tr>
      <th colspan="2"><span class="Color2">답변완료</span></th>
    </tr>
    <tr>
      <th colspan="2"><span class="Color2">환불완료</span></th>
    </tr>
    <tr>
      <th colspan="2"><span>신고 취소 완료</span></th>
    </tr>
    <tr>
      <th colspan="2"><span class="TxtColor2">환불 불가</span></th>
    </tr>
    <tr>
      <th colspan="2"><span class="Color2">환불 수락</span></th>
    </tr>
    <tr>
      <th colspan="2"><span class="Color1">환불 거부</span></th>
    </tr>
    <tr>
      <th colspan='2'>
        <article class='CenterRight'>
          <button class='CenterCenter'>
            환불 요청하기
            <img src='/public/icon/2308071611.svg' alt='' />
          </button>
        </article>
      </th>
    </tr>
    <tr>
      <th colspan='2'>
        <article class='CenterRight'>
          <button class='CenterCenter'>
            <span class='Color1'>환불 요청 중</span>
            <img src='/public/icon/2308071611.svg' alt='' />
          </button>
        </article>
      </th>
    </tr>
    <tr>
      <th colspan='2'>
        <article class='CenterRight'>
          <button class='CenterCenter'>
            요청 페이지로 이동
            <img src='/public/icon/2308071611.svg' alt='' />
          </button>
        </article>
      </th>
    </tr>
  </tbody>
</table>