<table class="Table_2">
  <tbody>
  <tr>
    <th>컬쳐랜드 아이디</th>
    <td>Cultureland</td>
  </tr>
  <tr>
    <th>전환 예정 포인트</th>
    <td>10,000원</td>
  </tr>
  <tr>
    <th>컬쳐랜드 캐쉬업</th>
    <td>300원</td>
  </tr>
  <tr>
    <th>
      <div class="Txt1">전환 예정 컬쳐캐쉬</div>
    </th>
    <td>
      <div class="Txt1 Montserrat Color1">10,300원</div>
    </td>
  </tr>
  </tbody>
</table>