<div class='TitleBox_4'>
  <article class='CenterLeft'>
    <div>
      <img src='/public/icon/2307311156.svg' alt='' />
    </div>
    <div style='margin-left:8px;'>
      <div style='color:#303030; font-size:16px; font-weight:600; line-height:24px;'>
        카카오페이로 C.point 충전하기
      </div>
    </div>
  </article>
</div>