{{#if preview}}
  {{SAFE2 this 'txt1'}}
{{/if}}
<div class='TitleBox_6'>
  <article class='CenterBetween'>
    <div>
      {{#if txt1}}
        <div style='color:#303030; font-size:16px; font-weight:600;'>
          {{txt1}}
        </div>
      {{/if}}
    </div>
    <div>
      {{!}}
    </div>
  </article>
</div>