{{#if preview}}
  {{SAFE2 this 'txt1'}}
{{/if}}
<div class='TitleBox_5'>
  <article class='CenterBetween'>
    <div>
      {{#if txt1}}
        <div class='Title_3'>{{txt1}}</div>
      {{/if}}
    </div>
    <div>
      {{!----}}
    </div>
  </article>
</div>