<div class="SampleList">
  <div class='TitleBox_4'>
    <article class='CenterLeft'>
      <div>
        <img src='/public/icon/2307311151.svg' alt='' />
      </div>
      <div class='Txt1' style='margin-left:8px;'>
        간편 계좌이체로 C.point 충전하기
      </div>
    </article>
  </div>
  <div class='TitleBox_4'>
    <article class='CenterLeft'>
      <div>
        <img src='/public/icon/2307311155.svg' alt='' />
      </div>
      <div class='Txt1' style='margin-left:8px;'>
        신용카드로 C.point 충전하기
      </div>
    </article>
  </div>
  <div class='TitleBox_4'>
    <article class='CenterLeft'>
      <div>
        <img src='/public/icon/2307311156.svg' alt='' />
      </div>
      <div class='Txt1' style='margin-left:8px;'>
        카카오페이로 C.point 충전하기
      </div>
    </article>
  </div>
  <div class='TitleBox_4'>
    <article class='CenterLeft'>
      <div>
        <img src='/public/icon/2307311158.svg' alt='' />
      </div>
      <div class='Txt1' style='margin-left:8px;'>
        네이버페이로 C.point 충전하기
      </div>
    </article>
  </div>
</div>