<div class='TopActionBar_2'>
  <article style=' display: flex; align-items: center; justify-content: space-between; gap: 0px; padding-left: 24px; padding-right: 20px; height: 56px;'>
    <div>
      <article style='display: flex; align-items: center; gap: 0px'>
        <button>
          <div style='width: 40px;'>
            <img src='/public/icon/2307091813.svg' alt='' />
          </div>
        </button>
        <div style='margin-left: 8px; color: var(--text-color1); font-size: 16px; font-weight: 500'>
          <span class='PageTitle'>
            {{!--{{@root.PAGE_TITLE}}--}}
            TITLE
          </span>
        </div>
      </article>
    </div>
    <div>
      <button>
        <span style="color:#FF3838; font-size:16px; font-weight:500;">추가</span>
      </button>
    </div>
  </article>
</div>