<ul class='TreeMenu_1'>
  {{#LOOP 5}}
    <li>
      <div class="Label">{{number}}</div>
      <ul class="ChildList">
        {{#LOOP 3}}
          <li>
            <div class="Label">{{../number}} - {{number}}</div>
          </li>
        {{/LOOP}}
      </ul>
    </li>
  {{/LOOP}}
</ul>