<div class='Alert_1' style='width: 280px'>
  <div class='Body'>
    <div>
      <img src='/public/icon/2308041907.svg' alt='' />
    </div>
    <div style='margin-top:16px;'>
      1개의 상품을 장바구니에 담았습니다.
    </div>
  </div>
  <div class='Foot'>
    <article class='CenterRight' style='gap: 10px'>
      <button class='ButtonUi Style3' data-form-hei='Sm' style='flex: 1; padding-left:0; padding-right:0;'>계속 쇼핑하기</button>
      <button class='ButtonUi Style1' data-form-hei='Sm' style='width: 144px'>장바구니 보기</button>
    </article>
  </div>
</div>