<div class='Alert_1' style='width: 280px'>
  <div class='Body'>
    <div style='color:#303030; font-size:14px; font-weight:600;'>
      현재 판매금액 : 105,240원
    </div>
    <div style='margin-top:16px;'>
      <p>판매 가능한 한도가 초과되었습니다.</p>
      <br />
      <p>현재 고객님의 판매한도는 <strong>10만원</strong>입니다.</p>
      <p>판매한도에 맞추어 등록해주세요!</p>
    </div>
  </div>
  <div class='Foot'>
    <article class='CenterRight' style='gap: 10px'>
      <button class='ButtonUi Style1' data-form-hei='Sm' style='width: 144px'>확인</button>
    </article>
  </div>
</div>