<div class='Alert_1' style='width: 280px'>
  <div class='Body'>
    <div style='color:#303030; font-size:14px; font-weight:600;'>
      현재 고객님은 상품 구매가 불가합니다.
    </div>
    <div style='margin-top:16px;'>
      <strong class='Color1'>휴대폰 본인인증 회원</strong>으로 전환 후
      <br />
      서비스를 이용해주세요.
    </div>
  </div>
  <div class='Foot'>
    <article class='CenterRight' style='gap: 10px'>
      <button class='ButtonUi Style3' data-form-hei='Sm' style='flex: 1'>취소</button>
      <button class='ButtonUi Style1' data-form-hei='Sm' style='width: 144px'>전환하기</button>
    </article>
  </div>
</div>