<div class='Alert_1' style='width: 280px'>
  <div class='Body'>
    <div>
      5만원 이상 결제 시
      <br />
      <strong class='Color1'>생체인증</strong>
      후 상품 구매가 가능합니다.
    </div>
  </div>
  <div class='Foot'>
    <article class='CenterRight' style='gap: 10px'>
      <button class='ButtonUi Style1' data-form-hei='Sm' style='width: 144px'>확인</button>
    </article>
  </div>
</div>