<div class='Alert_1' style='width: 280px'>
  <div class='Body'>
    <div style='color:#303030; font-size:14px; font-weight:600;'>
      정말 사용하시는게 맞나요?
    </div>
    <div style='margin-top:16px; color:#303030; font-size:12px; font-weight:400;'>
      <p><strong>[사용완료]</strong> 버튼을 누르실 경우,</p>
      <p>이후 사용 취소는 불가합니다.</p>
      <p>사용하시는게 맞다면 <strong class='Color1'>[사용완료]</strong> 버튼을</p>
      <p>돌아가시려면 <strong>[취소]</strong> 버튼을 눌러주세요.</p>
    </div>
  </div>
  <div class='Foot'>
    <article class='CenterRight' style='gap: 10px'>
      <button class='ButtonUi Style3' data-form-hei='Sm' style='flex: 1'>취소</button>
      <button class='ButtonUi Style1' data-form-hei='Sm' style='width: 144px'>사용완료</button>
    </article>
  </div>
</div>