<div class='BottomSheet_1' style='width: 360px; padding-bottom:0;'>
    <div class='Head'>
      <button class='Handlebar'></button>
    </div>
    <div class='Body'>
      <div class='ButtonBar'>
        <button class='Btn_2'><span class='TxtColor3'>취소</span></button>
        <button class='Btn_2'>완료</button>
      </div>
      <div style="padding-top:5px; padding-bottom:5px;">
        <script>Include('/hbs/component/DatePicker_1-a.hbs');</script>
      </div>
    </div>
  </div>