<div class='BottomSheet_1'>
  <article class='C-03e5c060 CenterBetween'>
    <div>
      <label class='CenterCenter'>
        <input class='CheckBoxUi Style1' type='checkbox' data-size='Md' />
        <div class='LabalUi' style='color:white;'>오늘 하루 보지않기</div>
      </label>
    </div>
    <div>
      <button class="CloseBtn">닫기</button>
    </div>
  </article>

  <div class='Head'>
    <button class='Handlebar'></button>
  </div>
  <div class='Body'>
    <div class='TitleBar NoBottom'>지금 참여할 수 있는 꿀 혜택!</div>
    <div>
      <a style='display:block;'>
        <img src='https://gifpng.com/320x67/ffd4d4/ff4444' alt='' />
      </a>
      <a style='display:block; margin-top:17px'>
        <img src='https://gifpng.com/320x133/ffd4d4/ff4444' alt='' />
      </a>
    </div>
  </div>
</div>