<div class='BottomSheet_1'>
  <div class='Head'>
    <button class='Handlebar'></button>
  </div>
  <div class='Body'>
    <article>
      <button class='Btn_7 w-full'>
        <img src='/public/icon/2308071633.svg' alt='' />
        상태방 프로필 보기
      </button>
      <button class='Btn_7 w-full'>
        <img src='/public/icon/2308071634.svg' alt='' />
        불량거래 신고하기
      </button>
    </article>
  </div>
</div>