<div class='BottomSheet_1' style='width: 360px; padding-bottom:30px;'>
  <div class='Head'>
    <button class='Handlebar'></button>
  </div>
  <div class='Body'>
    <div class='TitleBar'>판매 시 유의사항</div>
    <ol class='Ol_1' style='margin-top:19px;'>
      <li>등록하신 상품의 쿠폰번호, 유효기간 등 기재된 상품 정보가 일치하는지 확인해주세요.</li>
      <li>판매 전 해당 상품이 실사용 가능한 상품인지 반드시 확인후 판매등록 해주세요.</li>
      <li>이미 사용된 쿠폰, 취소된 쿠폰, 불확실한 정보를 기입한 쿠폰 등 재판매가 불가능한 쿠폰 등록 시 불이익을 받으실 수 있어요.</li>
      <li>판매대금은 C.point 로 적립되며, 언제든지 출금 요청이 가능해요.</li>
    </ol>
    <article class='CenterCenter' style='gap:10px; margin-top:25px;'>
      <button class='ButtonUi Style4' style='flex:1;' data-form-hei='Lg'>취소</button>
      <button class='ButtonUi Style1' style='flex:1;' data-form-hei='Lg'>계속하기</button>
    </article>
  </div>
</div>