<div class='BottomSheet_1'>
  <div class='Head'>
    <button class='Handlebar'></button>
  </div>
  <div class='Body'>
    <div class='TitleBar'>판매방법 안내</div>
    <div class="C-75f1741a" style='margin-top:19px;'>
      <p>현재 고객님은 <strong class='Color2'>개인판매</strong>를 선택하셨습니다.</p>
      <p><strong class='Color2'>개인판매</strong>의 경우 쿠폰 판매금액 직접 선택이 가능하며</p>
      <p>구매자가 구매 확정 시 판매금액을 정산 받으실 수 있습니다.</p>
      <br />
      <p>* 빠른 판매 및 정산을 원하시면 취소 후,</p>
      <p><strong class='Color1'>컬쳐랜드 판매</strong>를 진행해주세요.</p>
    </div>
    <article class='CenterCenter' style='gap:10px; margin-top:25px;'>
      <button class='ButtonUi Style4' style='flex:1;' data-form-hei='Lg'>취소</button>
      <button class='ButtonUi Style1' style='flex:1;' data-form-hei='Lg'>확인</button>
    </article>
  </div>
</div>