<div class='BottomSheet_1' style='width: 360px;'>
    <div class='Head'>
      <button class='Handlebar'></button>
    </div>
    <div class='Body'>
      <div class='TitleBar'>아이디 및 전환 금액을 다시 한 번 확인해주세요.</div>
      <div style="margin-top:12px;">
        <script>Include('/hbs/component/Table_2-b.hbs');</script>
      </div>
      <article class="CenterCenter" style="gap:10px; margin-top:25px;">
        <button class="ButtonUi Style4" style="flex:1;" data-form-hei="Lg">취소</button>
        <button class="ButtonUi Style1" style="flex:1;" data-form-hei="Lg">전환하기</button>
      </article>
    </div>
  </div>