<div class='NotifyViewBox_1'>
  <div class='Inner'>
    <script>Include('/hbs/component/PrdItem_1-a.hbs', {centered:true, brand_name:'GS25', product_name:'CU 3천원권', price1:'2,800원', price2:'3,000원', btn1:'신고취소하기'});</script>
    <div style='margin-top:20px;'>
      <script>Include('/hbs/component/Table_7-a.hbs');</script>
    </div>
    <div style='margin-top:20px;'>
      <script>Include('/hbs/component/AlertBox_2-a.hbs');</script>
    </div>
  </div>
</div>