<div class='ToolTip_1' style='width: 251px'>
  <div class='CenterRight'>
    <button>
      <div style='color:#303030; width:24px;'>
        <img src='/public/icon/2307241608.svg' alt=''/>
      </div>
    </button>
  </div>
  <div style='color: #303030; font-size: 12px; font-weight: 600; line-height: 18px'>
    보유중인 C.point
  </div>
  <ul class="Ul_1" style="margin-top:6px; color: #767676;">
    <li>보유중인 C.point는 충전 및 쿠폰 판매 정산금액이 합산 된 포인트를 의미합니다.</li>
  </ul>
  <div style='margin-top:16px; color: #303030; font-size: 12px; font-weight: 600; line-height: 18px'>
    컬쳐캐쉬 전환
  </div>
  <ul class="Ul_1" style="margin-top:6px; color: #767676;">
    <li>출금의 경우 쿠폰 판매 후 정산된 금액만 계좌로 출금이 가능합니다.</li>
  </ul>
  <div style='margin-top: 4px; color: #767676; font-size: 11px; font-weight: 400; line-height: 16px'>
    <p><span class="Color1" style="margin-top:6px;">* 충전금액의 경우 계좌로 출금 불가</span></p>
  </div>
</div>