<div class="ToolTip_1" style="width: 172px">
  <div class="CenterRight">
    <button>
      <div style="color:#303030; width:24px;">
        <img src="/public/icon/2307241608.svg" alt=""/>
      </div>
    </button>
  </div>
  <div style="color: #303030; font-size: 12px; font-weight: 600; line-height: 18px">
    랭킹 노출 기준
  </div>
  <div style="margin-top: 4px; color: #767676; font-size: 11px; font-weight: 400; line-height: 16px">
    브랜드 및 쿠폰 별 최근 판매횟수가 높은 순으로 정렬합니다.
  </div>
</div>