<div class='ToolTip_1' style='width: 286px'>
  <div class='CenterRight'>
    <button>
      <div style='color:#303030; width:24px;'>
        <img src='/public/icon/2307241608.svg' alt='' />
      </div>
    </button>
  </div>
  <div class="Txt1" style='margin-top: 4px;'>
    <ul class="Ul_1">
      <li>장바구니에 담긴 상품은 다른 이용자가 구매할 수 없도록 비노출 처리 되며, 15분간 보관 됩니다.</li>
      <li>15분 내로 구매하지 않을 경우 리스트에서 사라지며, 다른 이용자가 구매 할 수 있게 구매 페이지에 재노출 됩니다.</li>
    </ul>
  </div>
</div>