<div class='ToolTip_1' style='width: 251px'>
  <div class='CenterRight'>
    <button>
      <img src='/public/icon/2307241608.svg' alt='' />
    </button>
  </div>
  <div class='t-241766bd'>
    보유중인 C.point
  </div>
  <div class='t-11f79241' style='margin-top:6px;'>
    <ul class='Ul_1' style='margin-top:6px;'>
      <li>보유중인 C.point는 충전 및 쿠폰 판매 정산금액이 합산 된 포인트를 의미합니다.</li>
    </ul>
    <div class='t-241766bd' style='margin-top:16px;'>
      출금
    </div>
    <ul class='Ul_1' style='margin-top:6px;'>
      <li>출금의 경우 쿠폰 판매 후 정산된 금액만 계좌로 출금이 가능합니다.</li>
    </ul>
    <p class='Color1' style="margin-top:6px;">* 충전금액의 경우 계좌로 출금 불가</p>
  </div>
</div>