<div class='ToolTip_1' style='width: 220px'>
  <div class='CenterRight'>
    <button>
      <div style='color:#303030; width:24px;'>
        <img src='/public/icon/2307241608.svg' alt='' />
      </div>
    </button>
  </div>
  <div style='color: #303030; font-size: 12px; font-weight: 600; line-height: 18px'>
    랭킹기준
  </div>
  <div style='margin-top: 4px; color: #767676; font-size: 11px; font-weight: 400; line-height: 16px'>
    <p>상품별 판매방식에 따라 판매자 정보가 다르게 노출됩니다.</p>
    <br />
    <p>판매자 (컬쳐랜드)</p>
    <p>- 컬쳐랜드에 판매건으로 컬쳐랜드에서 상품을 매입해서 재판매</p>
    <br />
    <p>판매자 (아이디)</p>
    <p>- 개인판매건으로 개인이 다른 구매자에게 직접 판매</p>
    <p>* 개인 판매 건의 경우 판매자 프로필을 별도로 확인 하실 수 있습니다.</p>
  </div>
</div>