<header>
  <div class='FixedBox'>
    <div class='FixedShell'>
      <script>Include('/hbs/component/TopActionBar_2-d.hbs');</script>
      <script>Include('/hbs/component/ProductLink_1-a.hbs');</script>
    </div>
  </div>
</header>
