<header>
  <div class='FixedBox'>
    <div class='FixedShell'>
{{!--      {{> 'module/TopActionBar_2-a' }}--}}
      <script>Include('/hbs/component/TopActionBar_2-a.hbs');</script>
    </div>
  </div>
</header>
